<h1>Edit My Ad</h1>
<% form_for :ad, @ad, :url=> {:action => 'adupdate', :id => @ad }, :html=>{:multipart=>true} do |f| %>
  <%= render :partial => 'adform' %><br />
<br /><br /> <h3> Use Google Map to Mark your Property </h3>
<h4>Hint: Zoom Out and move to change your city; Zoom in to your location and click on your property. Put a title and it will be marked and saved! </h4>
<div id="map" style="width: 500px; height: 300px"></div>
<br />

  <%= submit_tag 'Edit My Ad' %>
<% end %>
