<h2 class="dot">My Favorite Profiles</h2>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
             
                    	<tr><td>To Add a Favorite Profile, view profile and click on Add to My Favorites Link</td></tr>
<% for @myfavorite in @myfavorites %>

<tr><td>
<%=@myfavorite.created_on.strftime("%d-%m-%Y") %> |  <a href="<%=@myfavorite.url%>"><%= @myfavorite.url[37..88] %></a> | <%= link_to 'Delete', { :action => 'delfavorite', :id => @myfavorite }, :confirm => 'Do you really want to delete?', :post => true %><br>

</td></tr>
<% end %>

                        
                        
                  
                    </table>







