<h2><img src="/images/new_mail_48.gif">My PMs </h2>
<h3>My InBox 
<% for tmpcount in @mynewcount %>
     <% if tmpcount.mycount.to_i > 0 %>
      <img src="/images/yougotmail.gif" alt="You Have new Mail">
      <% end %>
<% end %>
</h3>
<% for pm in @myinbox %>
  
    <%= pm.pmdate[0..10]%> | From: 
    <%= pm.from_user_name%> | 
<% if pm.ad_id %>
<% @link = url_for(:action => 'adshow', :id => pm.ad_id, :addescr => to_s) %>
Reference to Ad ID : <a href="/showad/<%=pm.ad_id%>/<%=pm.ad_id%>"><%=pm.ad_id%></a> |
<%end%>
<% if pm.read_on %>
<%= pm.title %>
<%else%>
<img src="/images/new.gif" alt="New PM"><b><%= pm.title %></b>
<%end%> | 
<%= link_to 'Reply', :action => 'pmreply',:reply_member_id => pm.from_user_id,  :id => pm.message_id%>  | 
<%= link_to 'Delete', { :action => 'pmdelete', :id => pm.message_id, :boxid => 'inbox' }, :confirm => 'Are you sure?', :post => true %>
<div id="ViewMessage<%=pm.message_id%>"><img src='/images/viewme.gif'><%=link_to_remote("ViewMessage", :update => 'ViewMessage'+pm.message_id.to_s, :url => '/userfunctions/pm_details/'+pm.message_id.to_s) %></div>
<hr>
<% end %>

<h3>My Sent Items </h3>

<% for pm in @mysentbox%>
  
    <%= pm.pmdate[0..10]%> | To: 
    <%= pm.to_user_name%> | 
<%= pm.title %><br ><%=pm.description%> | 
<% if pm.read_on %>
<b>PM Has been Read</b> 
<% else %>
PM has not been read
<%end%> |  
    <%= link_to 'Delete', { :action => 'pmdelete', :id => pm.message_id, :boxid => 'sentbox' }, :confirm => 'Are you sure?', :post => true %>
  <hr>
  
<% end %>




