
                  <h2><img src="/images/icons/cupid48.jpg"/><img src="/images/favorites_48.gif"> Who has saved me under their Favorites?</h2>
                <br />
                <br />
             
			 
                    	<table>
   <% if @myfavs %>
	<% for @myfav in @myfavs %>
	<% @myad = Ad.find(:first, :conditions => 'member_id = ' + @myfav.member_id.to_s)%>
	<% if @myad %>
	<% @link = url_for(:controller => "rents101", :action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
	<tr><td><b>Profile : <%=@myfav.member_id.to_s%> </b> <br/> 
	</td><td><a href="<%=@link%>">Click Here to View Profile</a></td></tr>
	<% end %>
	<% end %>
	<% end %>

                        
                        
                  
                    </table>

