<% form_for :image, @image, :url=> {:action => ' create' }, :html=>{:multipart=>true} do |f| %>
<label for=' image_name' >Name:</label>
<%= f.text_field :name %><br/>
<label for=' image_file_data' >Image File:</label>
<%= f.file_field :file_data %><br/>
<label for=' image_description' >Description:</label><br/>
<%= f.text_area :description, :cols => 80, :rows => 5 %><br/>
<%= submit_tag "Save" %>
<% end %>