<h1>Listing ads</h1>

<table>
  <tr>
  <% for column in Ad.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for ad in @ads %>
  <tr>
  <% for column in Ad.content_columns %>
    <td><%=h ad.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => ad %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => ad %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => ad }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @ad_pages.current.previous } if @ad_pages.current.previous %>
<%= link_to 'Next page', { :page => @ad_pages.current.next } if @ad_pages.current.next %> 

<br />

<%= link_to 'New ad', :action => 'new' %>
