<h1>Editing mrtstation</h1>

<% form_tag :action => 'update', :id => @mrtstation do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @mrtstation %> |
<%= link_to 'Back', :action => 'list' %>
