      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Create or Edit Job Posting</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><%= error_messages_for 'ad' %></td></tr>
                      
                                              <tr>
                        <td height="25"><font class="redtext"></font> Type of Job :- </td>
                        <td height="25"><%=select("ad","adtype_id", Adtype.find(:all, :order => "adtypename ASC").collect { |s1| [s1.adtypename, s1.id]} )%></td>
                        </tr>
                                                 <tr>
                        <td height="25"><font class="redtext"></font> Job Category :- </td>
                        <td height="25"><%=select("ad","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} )%></td>
                        </tr>
       
       
                                            <tr>
       
                       <td height="25"><font class="redtext"></font> Position Type :- </td>
                        <td height="25"><%=select("ad","positiontype_id", Positiontype.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                              <tr>
                              
                                  
       
                       <td height="25"><font class="redtext"></font> Educational Qualification :- </td>
                        <td height="25"><%=select("ad","educationtype_id", Educationtype.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                        <tr>
       
                       <td height="25"><font class="redtext"></font> Experience Level :- </td>
                        <td height="25"><%=select("ad","experiencelevel_id", Experiencelevel.find(:all, :order => "name ASC").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                                                <tr>
       
                       <td height="25"><font class="redtext"></font> Security Clearance Required :- </td>
                        <td height="25"><%=select("ad","securityclearance_id", Securityclearance.find(:all, :order => "id asc ").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                              <tr>
                              
                                            <tr>
       
                       <td height="25"><font class="redtext"></font> Job Code :- </td>
                        <td height="25"><%= text_field 'ad', 'job_code'  %></td>
                        </tr>
  
                               
                                            <tr>
       
                       <td height="25"><font class="redtext"></font> Pay Rate :- </td>
                        <td height="25"><%= text_field 'ad', 'approx_salary', "size" => 5  %> Per <%=select("ad","salarytype_id", Salarytype.find(:all, :order => "name asc ").collect { |s1| [s1.name, s1.id]} )%></td>
                        </tr>
                        
                         <tr>
       
                       <td height="25"><font class="redtext"></font> Job Title :- </td>
                        <td height="25"><%= text_field 'ad', 'title'  %></td>
                        </tr>
                         <tr>
       
                       <td height="25"><font class="redtext"></font> Short Description :- </td>
                        <td height="25"><%= text_field 'ad', 'short_description'  %></td>
                        </tr>
                        
                        <tr><td>Job Description</td><td>
                        <%= text_area  'ad', 'description', "size" => '36x9'  %>
                        </td></tr>
  
                         <tr><td>Job Requirements</td><td>
                        <%= text_area  'ad', 'job_requirement', "size" => '36x3'  %>
                        </td></tr>
  
                          <tr><td>Key Skills</td><td>
                        <%= text_area  'ad', 'key_skills', "size" => '36x3'  %>
                        </td></tr>

                        <tr>
                        <td height="25"><font class="redtext"></font> Functional Area :- </td>
                        <td height="25"><%= text_field 'ad', 'functional_area'  %></td>
                        </tr>



                       <tr>
                        <td height="25"><font class="redtext"></font> Job Role/Title :- </td>
                        <td height="25"><%= text_field 'ad', 'job_role'  %></td>
                        </tr>


  
   						<tr>
       
                       <td height="25"><font class="redtext"></font> External URL For this Job :- </td>
                        <td height="25"><%= text_field 'ad', 'external_url'  %></td>
                        </tr>
                        
                         						<tr>
       
                       <td height="25"><font class="redtext"></font>Contact Name, Phone and Email for this job</td>
                        <td height="25"><%= text_area 'ad', 'contact_details', "size" => '36x3'  %></td>
                        </tr>
  
                                             <tr>
                        <td height="25"><font class="redtext"></font> Location (Country, State and City) :- </td>
                        <td height="25">

		<select name="ad[jbcountry_id]" ID="countryDDL" onchange="javascript:countryChanged();"></select>&nbsp;
		<select name="ad[jbstate_id]" ID="stateDDL" onchange="javascript:stateChanged();"></select>&nbsp;
		<select name="ad[adcity_id]" ID="cityDDL"  onchange="javascript:cityChanged();"></select>&nbsp;




</td>
                        </tr>

<tr>
       
                       <td height="25"><font class="redtext"></font>Zip Code For the Job Location :-</td>
                        <td height="25"><%= text_field 'ad', 'zipcode', "size" => '11'  %></td>
                        </tr>


  
                         						<tr>
       
                       <td height="25"><font class="redtext"></font>Job Benefits</td>
                        <td height="25">  
				<%= check_box 'ad', 'telecommute'  %> Telecommute/Work From Home <br/>
				<%= check_box 'ad', 'stock'  %> Stock Options <br/>
				<%= check_box 'ad', 'retirement'  %> Retirement/401K Benefits <br/>
				<%= check_box 'ad', 'vacation'  %> Paid Vacation <br/>
				<%= check_box 'ad', 'sick'  %> Paid Sick Leave <br/>
				<%= check_box 'ad', 'daycare'  %> OnSite Daycare <br/>
				<%= check_box 'ad', 'health'  %> Health Insurance <br/>
				<%= check_box 'ad', 'dental'  %> Dental Insurance <br/>
				<%= check_box 'ad', 'disability'  %> Disability Benefits <br/>
				<%= check_box 'ad', 'telecommute'  %> Telecommute <br/>
				<%= check_box 'ad', 'tuition'  %> Tuition Assistance <br/>
</td>
                        </tr>

                                            
                 
                        <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25">  <%= submit_tag " Post My Ad" %></td>
                        </tr>
                                    
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


