<h2 class="dot">Edit Logon Info And Password, Match Profile Alert</h2>
      <table width="617" border="0" cellspacing="0" cellpadding="0">


			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
           
                      <tr>
                        <td height="25" colspan="2" align="left"><strong>All Fields with * are Required! (We value your privacy. We will not resell your email or personal data to anyone else)</strong> </td>
                        </tr>
 <% if session[:superuser]%>
                                  <tr>
                        <td height="25"><font class="redtext">*</font> Email :- </td>
                        <td height="25"><%= text_field 'member', 'email'  %></td>
                        </tr>
                       
                                      <tr>
                        <td height="25"><font class="redtext">*</font> Password :- </td>
                        <td height="25"><%= text_field 'member', 'password'  %></td>
                        </tr>
                        
                        <% else %>
                        
                      <tr>
                        <td height="25"><font class="redtext">*</font> Password :- </td>
                        <td height="25"><%= password_field 'member', 'password'  %></td>
                        </tr>
                      
                      <tr>
                        <td height="25"><font class="redtext">*</font> Password :- </td>
                        <td height="25"><%= password_field 'member', 'password_confirmation'  %></td>
                        </tr>
                       <% end %>
   
 
                                             <tr>
                        <td height="25"><font class="redtext">*</font> Country Code and Phone No :-</td>
                        <td height="25">+<%= text_field 'member', 'ccode1', "size" => 3  %><%= text_field 'member', 'phone_no'  %></td>

                      
                      </tr>


                                             <tr>
                        <td height="25"><font class="redtext">*</font> Country Code and Mobile No :-</td>
                        <td height="25">+<%= text_field 'member', 'ccode2', "size" => 3  %><%= text_field 'member', 'mobile_no'  %></td>

                      
                      </tr>                             
                      
                        <tr>
                        <td height="25"><font class="redtext">*</font> Automatic Profile Match email Notification :-</td>
                        <td height="25"><%= check_box  'member', 'matchad',{},1,0  %></td>

                      
                      </tr>                                          
                        
  
           
                        
                        
                        
                        
                                                                 <tr>
                        <td height="25">&nbsp;</td>
                        <td width="63%" height="25">  <%= submit_tag 'Edit' %></td>
                        </tr>
                      
                    </table>
                    


 
 


