<h3>Give us your feedback before you delete your profile!</h3>

<%=form_tag({:controller => 'userfunctions', :action=>'confdelprofile'}, :multipart => true)%>


<label for="feedback_msgtitle"><b>Reason (Required)*</b></label><br/>

<%= text_area 'delpro', 'reason', "size" => '40x4'  %><br/>
  
  <%= submit_tag "Yes - Delete My Profile" %>
</form>

