<h3>Search Property using Google Maps</h3>
<%=form_tag({:controller => 'munimap', :action=>'mapsearch'}, :multipart => true)%>
<!--[form:savedsearch]-->
<%=
   select("savedsearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} )%>
<%=
   select("savedsearch","adcity_id", Adcity.find(:all, :order => "adcityname ASC").collect { |s1| [s1.adcityname, s1.id]} )%>

<%= submit_tag "Go!" %>

</form>
<h2>Results for <%=@mytype.propertytypename %> in <%=@mycity.adcityname%></h2>
<script type="text/javascript">
var centerLatitude = <%=@mycity.lat%>;
var centerLongitude = <%=@mycity.lng%>;
var startZoom = 12;
var map;

function addMarkerToMap(latlng, html) {
var marker = new GMarker(latlng);
GEvent.addListener(marker, 'click', function() {
var markerHTML = html;
marker.openInfoWindowHtml(markerHTML);
});
return marker;
}


function listMarkers() {
var request = GXmlHttp.create();
//tell the request where to retrieve data from.
request.open('GET', '/munimap/getmaplocations', true);

//tell the request what to do when the state changes.
request.onreadystatechange = function() {
if (request.readyState == 4) {
//parse the result to JSON,by eval-ing it.
//The response is an array of markers


ads=eval( "(" + request.responseText + ")" );
for (var i = 0 ; i < ads.length ; i++) {
var ad=ads[i].attributes
var lat=ad.lat;
var lng=ad.lng;
//check for lat and lng so MSIE does not error
//on parseFloat of a null value
if (lat && lng) {
var latlng = new GLatLng(parseFloat(lat),parseFloat(lng));
var html = '<div>';
if (ad.maptitle) {
	html = html + ad.maptitle;
}
html = html +  '</div>';
var marker = addMarkerToMap(latlng, html);
map.addOverlay(marker);
} // end of if lat and lng
} // end of for loop
} //if
} //function
request.send(null);



}


function init() {
if (GBrowserIsCompatible()) {
map = new GMap2(document.getElementById("map"));
map.addControl(new GSmallMapControl());
map.addControl(new GMapTypeControl());
var location = new GLatLng(centerLatitude, centerLongitude);
map.setCenter(location, startZoom);
listMarkers();


}
}


window.onload = init;



</script>
<div id="box999"><center><table border="1" width="410" id="table1" bordercolor="#008000" cellspacing="0" cellpadding="0">
<tr><td>
<div id="map" style="width: 800px; height: 920px"> </div>
</td>	</tr></table></center>
</div>
