<% for column in Reportad.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @reportad.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @reportad %> |
<%= link_to 'Back', :action => 'list' %>
