<%= error_messages_for 'savedressearch' %>

<!--[form:savedressearch]-->
                      <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Skill Category</td>

                        <td height="25" align="left"><%=select("savedressearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename, s1.id]} ) %></td>
                        </tr>
<% cache(:action => 'faq', :part => 'advressearchnew') do %>

                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Country</td>

                        <td height="25" align="left">
		<select name="savedressearch[jbcountry_id]" ID="countryDDL" onchange="javascript:countryChanged();"></select>&nbsp;</td>

                        </tr>
                        

                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> State</td>


                        <td height="25" align="left">
		<select name="savedressearch[jbstate_id]" ID="stateDDL" onchange="javascript:stateChanged();"></select>&nbsp;</td>

                        </tr>


                                             <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> City</td>

                        <td height="25" align="left">
		<select name="savedressearch[adcity_id]" ID="cityDDL"  onchange="javascript:cityChanged();"></select>&nbsp;</td>

                        </tr>


<% end %>

                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Key Words</td>

                        <td height="25" align="left"><%= text_field 'savedressearch', 'searchterms'  %></td>
                        </tr>
                                                                    <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Resume Agent Name</td>

                        <td height="25" align="left"><%= text_field 'savedressearch', 'savedname'  %></td>
                        </tr>
     <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Send Alerts by Email</td>

                        <td height="25" align="left"><%= check_box 'savedressearch', 'emailalert', :checked => 'checked'  %></td>
                        </tr>

     <tr>
                        <td width="37%" height="25" align="left"><font class="redtext"></font> Search Only Resumes with Security Clearance</td>

                        <td height="25" align="left"><%= check_box 'security_clear', 'emailalert'  %></td>
                        </tr>

                        <tr><td>
    <% if controller.action_name == 'home'   %>
                        <%= submit_tag "Search" %>
    <% else %>
                        <%= submit_tag "Save and Search" %>

    <% end %>
                        </td></tr>
                        

