      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">View Resume - Agree to Terms And Conditons</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td><%= error_messages_for 'member' %></td></tr>
                        
			                        <% @myuser = Member.find(session[:member]) %>
                         	<% if @myuser.jbemployer %>
						<% if @myuser.jbemployer.resumecredits < 1 %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>You have 0 Resume Credits - <a href="mailto:support@HindusOnlyMatrimony.com">Click Here to Buy More to view this resume</a> </strong> </div></td>
					        </tr>
                                     <% else %>
						<tr><td>I agree to the terms and conditions to view this resume. I understand that one resume credit will be used to view this resume. I also agree not to spam the job seeker in any way and not to resell,share,distribute this resume or any other personal information obtained from this site. The resume is strictly for my and my company's use only. Click on the link below to view the resume<br/><br/><center><strong><a href="/resumecreditcheck">I Agree</a></strong></center></td></tr>
						<% end %>
	 				<% else %>
      					  <tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>First you must complete your company Details! - <a href="/editcompany">Click Here</a> </strong> </div></td>
					        </tr>

					<% end %>

                        
                  
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


