                  <% cache(:action => 'faq', :part => 'mad'+@ad.id.to_s) do %>  
                 
         
                    	<table width="100%" border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#CFE4FA">
                      
                      <tr >
                        <td  align="left" bgcolor="#EAF4FE" ><strong>
                        	
                         <%=@ad.title%>
                        
                        </strong></td>
                      </tr>
                      
                        

                      <tr >
                        <td  align="left" bgcolor="#FFFFFF" ><strong><%=@ad.shortdesc%></strong></td>
                      </tr>
                      
                      
                      <tr >
                        <td  align="left" bgcolor="#FFFFFF" ><strong>
                        	<%=@ad.phone%>
                        	</strong></td>
                      </tr>
                    
                                    
                    
                      <%if @ad.website%>
                      <%if @ad.website > '0'%>
                      <tr >
                        <td  align="left" bgcolor="#FFFFFF" >http://<%=@ad.website%></td>
                      </tr>
                      <% end %>
                      <% end %>
                      
                      
             			<tr >
                        <td  align="left" bgcolor="#FFFFFF" ><table border="0"><tr><td>
                          <div class="loginlh"><%=@ad.description.gsub(/\n/, '<br/>').gsub(/,/, ', ')%></div></td></tr></table></td>
                      </tr>
                        
                      
                          <tr><td>
                      	<% if @ad.image1 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image1", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image1", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>
									<br/>
									
									<% if @ad.image2 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image2", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image2", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>


<% if @ad.image3 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image3", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image3", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>


	<% if @ad.image4 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image4", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image4", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>


<% if @ad.image5 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image5", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image5", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>


<% if @ad.image6 %>
  											<a href="<%= image_path(url_for_file_column("ad", "image6", "medium")) %>" rel="lightbox['+@ad.id.to_s+']" title="<%=h(@ad.title) %>">    <%= image_tag url_for_file_column("ad", "image6", "thumb"),{ "class" => "gallery_pic_bdr"} %> </a>
									<% end %>



                      	
                      </td></tr>
                      </table>
                      
                      
                      
                      
<% @addlink = url_for(:controller => 'userfunctions', :action => 'addfavorite') %>
<% @pplink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>

                        
<% @contactlink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>
   <table>
                      <tr><td>
                      <img src="/images/forward.gif" alt="" width="16" height="14" /> <a href="/tell-a-friend"  class="searchlink">Forward to Friend</a> | <img src="/images/icons/star.gif" alt="Add to my favorites" title="Add to my favorites"/>  <a href="<%=@addlink%>"> Add To My Favorites></a> | <a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="AddThis Social Bookmark Button" /></a> <script type="text/javascript">var addthis_pub = 'find101';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script>  | <a href="<%=@pplink%>">Send a Private Message</a> 

                      	
                      </td></tr></table>
                      
                      <% end %>
        <%= render :partial => 'msuperusermenu' %>

