<%= error_messages_for 'feedback' %>

<!--[form:feedback]-->

<p><label for="feedback_msgtitle">Feedback Title</label><br/>
<%= text_field 'feedback', 'msgtitle'  %></p>

<p><label for="feedback_msgdescription">Description</label><br/>
<%= text_area 'feedback', 'msgdescription'  %></p>

<!--[eoform:feedback]-->

