 <h2>Add new success story</h2>
  <form action="http://www.brahminsmatrimony.com/superuser/storysav" enctype="multipart/form-data" method="post"> 
             
       <table>
       	<tr>
        <td>Couple Name <%= text_field 'st', 'couple'  %></td></tr>
        
        <tr>
        <td>Desc <%= text_field 'st', 'desc'  %></td></tr>
        
        <tr>
        <td>url <%= text_field 'st', 'url'  %></td></tr>
        <tr>
        <td>Image /icons/success/ <%= text_field 'st', 'img'  %></td></tr>
        
        <input type="submit" name="login" value="submit"  class="logbtn" />
        
    </form> 
        <hr>