
                  <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>

        </tr>
        <tr>
          <td valign="top">
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>

            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
       



               

             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">

                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">

                      <tr>
                        <td colspan="7" align="left"><strong>
</strong></td>
                               <tr>
                        <td align="left">&nbsp;</td>
                        <td align="left"><a href="/mysearch"><img src="/images/search.gif" alt="" width="107" height="27" border="0" /></a></td>
                        <td colspan="5" align="left"><a href="/mysearch" class="searchlink">New Search</a> | <a href="/mysearch" class="searchlink">Modify Search</a></td>

                        </tr>
                      
                    </table>
                      <br />

                      ..........................................................................................................................................<br />
                      <br />
<table width="100%" border="0" cellspacing="0" cellpadding="7">
                        <tr>
                          <td width="46%" align="left"> <strong>

                          
                        </tr>
                        
                        <tr>
                          <td colspan="2" align="left">
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Brief Description</strong></td>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Qualifications And Job</strong></td>

                              
                              <td width="31%" align="left" bgcolor="#EAF4FE"><strong>Photo</strong></td>
                              
                            </tr>
                            
                            
                        <% for @myad in @ads %>

<tr>
	<td> from profile <%=@myad.from_user.to_s%> to_profile <%=@myad.to_user.to_s%> <%=@myad.title%></td><td><%=@myad.description%></td>
	</tr>

                      
						<% end %>                            
						
      
                            
                          </table></td>
                          </tr>
  

                        <tr><td>

                         <%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %>  <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %>
                                                 </td></tr>
                      </table></td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>

                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>

              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>  </td>