      <table width="617" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td valign="top">
          	<table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>
            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle">
             
               
             
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td align="center" class="brmiddle">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td colspan="7" align="left"><strong>Results for 
                        <% if controller.action_name == 'employersearch' %>
                                 <%=@mysearch if @mysearch%>
				<% elsif controller.action_name == 'searchads' %>
                        <%=@mysearch if @mysearch%>
				<% else %> 
<%=@myresulttext if @myresulttext != nil %> <% end %> </strong></td>
                               <tr>
                        <td align="left">&nbsp;</td>
                        <td align="left"><a href="#"><img src="/images/search.gif" alt="" width="107" height="27" border="0" /></a></td>
                        <td colspan="5" align="left"><a href="#" class="searchlink">New Search</a> | <a href="#" class="searchlink">Modify Search</a></td>
                        </tr>
                      
                    </table>
                      <br />

                      ..........................................................................................................................................<br />
                      <br />
<table width="100%" border="0" cellspacing="0" cellpadding="7">
                        <tr>
                          <td width="46%" align="left"> <strong>
                          <% if controller.action_name == 'employersearch' %>
				  <%=@adssave.length%>
                          <% elsif controller.action_name == 'searchads' %>
				  <%=@adssave.length%>
                          <% else %>
                         <%=Ad.count.to_s%>
                         <% end %> job(s) found  </strong></td>
                          
                        </tr>
                        
                        <tr>
                          <td colspan="2" align="left">
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Position</strong></td>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Company and Salary</strong></td>
                              <td width="11%" align="left" bgcolor="#EAF4FE"><strong> Exp </strong></td>
                              <td width="15%" align="left" bgcolor="#EAF4FE"><strong>Location</strong></td>
                              <td width="6%" align="left" bgcolor="#EAF4FE">&nbsp;</td>
                            </tr>
                            <% for ad in @ads %>
                            <% @link = url_for(:action => 'adshow', :id => ad, :addescr => ad.myurl) %>
                            <% @mystate = ' ' %>
                            <% if ad.adcity.jbstate.jbcountry.name %>
						<% @mystate = ad.adcity.jbstate.jbcountry.name  %>
                            <% end %>
                            <% if ad.adcity.jbstate.jbcountry.name %>
                                     <% if ad.adcity.jbstate.jbcountry.name == 'United States' %>
						<% @mystate = ad.adcity.jbstate.statecode %>
                                    <% end %>
 				    <% end %>

                            
                            <tr>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><a href="<%=@link%>" class="searchlink"><%=ad.title%></a><br />
                               <%  if ad.status == 0 %>
								<h2>Pending Ad </h2>
							    <% end %>
                               
                               <%=ad.propertytype.propertytypename%><br/>
                               <% if ad.created_on %> <%=ad.created_on.strftime("%m/%d/%Y")%><% end %> <%=h ad.description[0..80]%>...

 <a href="#" class="jlink">View similar jobs</a></font></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><font class="loginlh"><%if ad.member.jbemployer.company_name %><%=ad.member.jbemployer.company_name%><%end%><br/>$<%=ad.approx_salary%> <%=ad.salarytype.name%><br />
                                  <a href="#" class="jlink">View all jobs by this recruiter</a></font></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=ad.experiencelevel.name%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF"><%=ad.adcity.adcityname%> , <%=@mystate%></td>
                              <td align="left" valign="top" bgcolor="#FFFFFF">
                                <input type="checkbox" name="checkbox" value="checkbox" />                              </td>
                            </tr>
                            <% end %>
                          </table></td>
                          </tr>
  

                        <tr>
                          <td align="left">&nbsp;</td>
                          <td align="right"><a href="#"><img src="/images/save.gif" alt="" width="119" height="24" border="0" /></a> 
                          <a href="#"><img src="/images/apply.gif" alt="" width="158" height="24" border="0" /></a></td>
                        </tr>
                        <tr><td>
                        <%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %> | <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %>  | 
<%= link_to 'Post New Job', :controller => 'employer', :action => 'newjob' %>
                        </td></tr>
                      </table></td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
			   
                </td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>
            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>  </td>
      