<table width="916" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="617" valign="top">
    <% if controller.action_name == 'home'   %>
<% cache(:action => 'faq', :part => 'homepage') do %>
    <table width="617" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="266" class="imgback">
		<div class="lookdiv">
		<font class="looktext">Brahmins</font><br />
		<font class="looktext1">Matrimony</font><br />
		It is the right place to search for your life partner!.<br /><br />
		<a href="/editresume"><img src="/images/post-button.gif" alt="" width="178" height="30" border="0" /></a> </div></td>
        <td width="351"><img src="/images/img1.jpg" alt="" width="351" height="224" /></td>
      </tr>
    </table>
    <%= render :partial => 'menu/threecolumn' %>
<% end %>
    <% else %>
<% if flash[:notice] %>
      <table width="617" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong><%= flash[:notice] %></strong> </div></td>
        </tr>
       </table>
<% end %>

     <%= render :partial => 'menu/twocolumn' %>
    <% end %>
      
      
      </td>
    <td width="299" class="rightimg">
    <table width="287" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10"><img src="/images/right-left.gif" alt="" width="10" height="10" /></td>
        <td class="rttop">&nbsp;</td>
        <td width="10"><img src="/images/right-right.gif" alt="" width="10" height="10" /></td>
      </tr>
      <tr>
        <td class="rtleft">&nbsp;</td>
        <td class="bgcolor"><%= render :partial => 'menu/sidemenu' %></td>
        <td class="rtright">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="/images/right-b-left.gif" alt="" width="10" height="10" /></td>
        <td class="rtbottom">&nbsp;</td>
        <td><img src="/images/right-b-right.gif" alt="" width="10" height="10" /></td>
      </tr>

    </table></td>
  </tr>
</table>