<% cache(:action => 'faq', :part => 'bottom1') do %>
<table width="916" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="14"><img src="/images/f-left.gif" alt="" width="14" height="41" /></td>
    <td width="888" id="footer" class="footer"><a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Save/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> |<a href="/rss">RSS Feed <img src="/images/rss.png" alt="RSS Feed" title="RSS Feed"/></a> |  <a href="/aboutus.html">Who we are</a> | <a href="/tell-a-friend">Tell a friend</a> | <a href="http://www.bharathforums.com/">Blogs</a> | <a href="/whyfaq">FAQ's</a> | <a href="/mylinks">Links</a> | <a href="/contactus.html">Contact us</a> | <a href="/resources.html">Resources</a>    </td>
    <td width="14"><img src="/images/f-right.gif" alt="" width="14" height="41" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="75" id="footer1"><b class="bluetext">Our Other Sites:</b> <a href="http://www.idohealthcare.com" target="_blank">IDoHealthCare.com</a>       Best viewed in 1024 x 768 resolution in Internet Explorer 6.0 and above <br />
  &copy; 2007 <span class="bluetext"><%=Sitestuff::MYDOMAIN%></span>. All rights reserved | <a href="/terms.html">Terms of use</a> | <a href="/privacy.html">Privacy policy</a> </td>
    <td>&nbsp;</td>
  </tr>
</table>
<% end %>