  <% if controller.action_name == 'adshow'  %>
      <% if @ad.adcity.adcityname  == 'Hyderabad' %> 
      <b>For Renting in Hyderabad </b>For a nominal price get your property listed or get the property you are looking for! Contact Venu at 9949963805 or 040-23310857 or email to bharathrentals @gmail.com  <hr>  <% end %>             

<% else %>
       <b>Featured Ad:</b> 
        For PG Accommodation and flats in Chennai Contact us today! <a href="http://www.bharathrentals.com/showad/3041/Available-Chennai-For-All-PG-and-Flats-in-Chennai.html">Reputed Agent in Chennai</a>
<hr><% end %>

