          <%=form_tag({:controller => 'rents101', :action=>'advsearchcreate'}, :multipart => true)%>
          <table width="191" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="191" class="browsetop">
			  <div class="browsetopdiv"><img src="/images/bullet.gif" alt="" width="19" height="18" /> <a href="/browse/all/all/all/all"><font class="lheading">Quick Search</font></a></div></td>
            </tr>
            
            <tr>
              <td class="brback">
			  
			  <table cellpadding="2" cellspacing="2"><tr><td>
			  <%=select("savedsearch","adtype_id", Adtype.find(:all, :order => "adtypename ASC").collect { |s1| [s1.adtypename, s1.id]} ) %></td></tr>
		  
	<tr><td><%=select("savedsearch","propertytype_id", Propertytype.find(:all, :order => "propertytypename ASC").collect { |s1| [s1.propertytypename[0..20], s1.id]} ) %></td></tr>
<tr><td><%= submit_tag "Search" %></td></tr></table>
			  
			 		  
			  <center>
			    <a href="/browse/all/all/all/all"><img src="/images/show1.gif" alt="" width="137" height="20" vspace="10" border="0" /></a>
				<a href="/browse/all/all/all/all"><img src="/images/loc.gif" alt="" width="137" height="20" border="0" /></a>
			  </center>			  </td>
            </tr>
            <tr>
              <td  class="brback" id="browsetop1"><div class="browsetopdiv2"><img src="/images/bullet.gif" alt="" width="19" height="18" /> <font class="lheading">Browse By Type</font></div></td>
            </tr>
            <tr>
              <td  class="brback"><br /><div class="browsetopdiv1">
                <ul id="prelist">
                	<% @mycats = Propertytype.find(:all, :order => 'propertytypename')%>
                	<% for @mycat in @mycats%>
                  <li><a href="/browse/all/<%=@mycat.propertytypename%>/all/all"><%=@mycat.propertytypename[0..20]%></a><br /><img src="/images/spacer.gif" alt="" width="140" height="1" vspace="7" /></li>
				  
				  <% end %>
 

                </ul>
              </div></td>
              </tr>
            <tr>
              <td >
              <table width="191" border="0" cellspacing="0" cellpadding="0">

                <tr>
                  <td width="10"><img src="/images/right-b-left.gif" alt="" width="10" height="10" /></td>
                  <td width="171" class="rtbottom">&nbsp;</td>
                  <td width="10"><img src="/images/right-b-right.gif" alt="" width="10" height="10" /></td>
                </tr>
              </table></td>
              
            </tr>

          </table>
           </form>