<% if controller.action_name == 'adshow' %>
	
<% @alttext = @ad.title + ' ' + @ad.propertytype.propertytypename +  ' ' + @ad.adtype.url %>
<% else %>
<% @alttext = Sitestuff::MYSINGLEKEY  +  " Only Matrimony - Marriage and matrimony" %>
<% end %>
<!-- start marriage -->
<div id="marriage"><div id="logo"><img src="/images/marry-a-sunni.jpg" alt="<%=@alttext%>" width="433" height="221" /></div><div id="signup">  <table width="282" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td colspan="3" style="width: 282px; height: 8px;"><img src="/images/search-top.gif" width="282" height="8" alt="Search" /></td>
</tr>
<tr>
	<td style="width: 7px;"><img src="/images/search-left.gif" width="7" height="185" alt="" /></td>
	<td style="width: 268px; background-color: #ECD624;">
	
	<form action="/rents101/advsearchcreate" enctype="multipart/form-data" method="post" >
<table width="100%"  border="0" cellspacing="5" cellpadding="0" class="tablesearch">
<tr>
<td width="77">Gender:</td>
<td>
		<select id="savedsearch_adtype_id" name="savedsearch[adtype_id]">
		<% @mytmps = Adtype.find(:all, :order => "adtypename ASC")%>
		<% for @mytmp in @mytmps %>
		<option value="<%=@mytmp.id.to_s%>" <%if @mytmp.def == 1 %>selected="selected"<%end%>><%=@mytmp.adtypename%></option>
	
	<% end %>
	</select>
	
</td>
</tr>
</table>


<table width="100%"  border="0" cellspacing="5" cellpadding="0" class="tablesearch">
<tr>
<td width="77">Type:</td>
<td>
		<% @mytmps  = Propertytype.find(:all, :order => "propertytypename ASC")%>
	<select id="savedsearch_propertytype_id" name="savedsearch[propertytype_id]" style="width:150px">
		<% for @mytmp in @mytmps %>
		<option value="<%=@mytmp.id.to_s%>" <%if @mytmp.def == 1 %>selected="selected"<%end%>><%=@mytmp.propertytypename%></option>
		<% end %>
		</select>
	
</td>
</tr>
</table>


<table width="100%"  border="0" cellspacing="5" cellpadding="0" class="tablesearch">
<tr>
<td width="77">Age:</td>
<td><%=select("savedsearch","agerange1_id", Agerange1.find(:all, :order => "age ASC").collect { |s1| [s1.age, s1.id]} ) %> - 
	<%@mytmps = Agerange2.find(:all, :order => "age ASC")%>
	<select id="savedsearch_agerange2_id" name="savedsearch[agerange2_id]">
		<% for @mytmp in @mytmps %>
		<option value="<%=@mytmp.id.to_s%>" <%if @mytmp.id == 23 %>selected="selected"<%end%>><%=@mytmp.age%></option>
		<% end %>
		</select>
	
	
</td>
</tr>
</table>
<table width="100%"  border="0" cellspacing="5" cellpadding="0" class="tablesearch">
<tr>
<td width="73">Photo:</td>
<td>
	<%= check_box 'savedsearch', 'withphoto'  %>
</td>
<td><div style="float: right;">
	<input type="submit" value="Search Now!" class="searchbtn" /></div></td>
</tr>
</table>
</form>

	
	<!-- / end form content --></td>
	<td style="width: 7px;"><img src="/images/search-right.gif" width="7" height="185" alt="" /></td>
</tr>
<tr>
	<td colspan="3" style="width: 282px; height: 9px;"><img src="/images/search-bottom.gif" width="282" height="9" alt="" /></td>
</tr>
</table>
</form></div></div><!-- end marriage -->