<script type="text/javascript">
var centerLatitude = <%=@ad.lat%>;
var centerLongitude = <%=@ad.lng%>;
var startZoom = 14;
var map;
function init() {
if (GBrowserIsCompatible()) {
map = new GMap2(document.getElementById("map"));
map.addControl(new GSmallMapControl());
var location = new GLatLng(centerLatitude, centerLongitude);
map.setCenter(location, startZoom);
var marker = new GMarker(location);
map.addOverlay(marker);
}
}


window.onload = init;


</script>
<div id="box999"><table border="1" width="410" id="table1" bordercolor="#008000" cellspacing="0" cellpadding="0">
	<tr>
		<td>
<div id="map" style="width: 400px; height: 240px"></td>
	</tr>
</table>
</div>