
	 <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>

	 
	 
	
	 
	 <% if @myad.member_id < 9000%>
	
	 <% if @myad.picaddon > 0%> 
	 
	 <% @myimg = '/images/id_img/' + @myad.member_id.to_s + '_0_'+ @myad.picaddon.to_s + '.jpg'%> 
	 
	 
	 <% else%>
	 
	 <% if @myad.member.sex_id == 1%>
	  <% @myimg = '/images/id_img/woman.jpg'%> 
	 <% else%>
	 <% @myimg = '/images/id_img/man.jpg'%> 
	 <% end %>
	 
	
	 
	 <% end %>
	 
	 <% @myimg = 'http://brahminsmatrimony.com' + @myimg%>
	 <% if controller.action_name == 'adshow' and @myad.picaddon > 0%>
	 <% @mydone = 0%>
	 (Click On The Photo)<br/>
	 
	 <% if @myad.pic1 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_1_<%=@myad.pic1.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_1_<%=@myad.pic1.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo1<br/></a></div>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic2 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_2_<%=@myad.pic2.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_2_<%=@myad.pic2.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo2<br/></a></div>
	 
	 <% end %>
	 <% end %>
	 
	 
	 	
	  <% if @myad.pic3 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_3_<%=@myad.pic3.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_3_<%=@myad.pic3.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo3<br/></a></div>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic4 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_4_<%=@myad.pic4.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_4_<%=@myad.pic4.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo4<br/></a></div>
	 
	 <% end %>
	 <% end %>
	 
	 
	  <% if @myad.pic5 > 0 %>
	 <% if @mydone == 0 %>
	 <% @mydone = 1 %>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_5_<%=@myad.pic5.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>"><div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
	 <% else%>
	 <a href="/images/id_img/<%=@myad.member_id.to_s%>_5_<%=@myad.pic5.to_s%>.jpg" rel="lightbox['+@myad.id.to_s+']" title="<%=@myad.title%>">Photo5<br/></a></div>
	 
	 <% end %>
	 <% end %>
	 
	 
	 
	 
	 
	 
	 <% else%>
	 <div class="thumbnail_block" style="float:left; width:110px; height:110px; background-image:url(<%=@myimg%>);"><a href="<%=url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl)%>"><img src="/images/icons/spacer.gif"  style="width:110px; height:110px;" alt="<%=@myad.title%>" title="<%=@myad.title%>" /></a></div>
<% end %>
	 
	 <% end %>
	 
	
	                   