<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>brahminsmatrimony</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Your description goes here." />
<meta name="keywords" content="your,keywords,goes,here" />
<meta name="author" content="Your Name / Original design by Andreas Viklund - http://andreasviklund.com" />
  <%= stylesheet_link_tag 'rentals' %>
</head>

<body>
<div id="container">

<div id="sitename">
<h1>brahminsmatrimony</h1>
<h2>An Open Source Web Design Template</h2>
</div>

<div id="mainmenu">
<ul>
<li><a class="current" href="index.html">Browse</a></li>
<li><a href="green.html">Post Ad</a></li>
<li><a href="orange.html">Login</a></li>
<li><a href="purple.html">Register</a></li>
<li><a href="red.html">Search</a></li>
<li><a href="black.html">Live Help</a></li>
</ul>
</div>
 
<div id="wrap">
<% if flash[:notice] %>
<div class="errors">
<%= flash[:notice] %>
</div>
<div id="rightside">
<h1>Included layouts</h1>
<p>
<a class="nav" href="index.html">3 columns</a><span class="hide"> | </span>
<a class="nav active" href="2col.html">2 columns</a><span class="hide"> | </span>
<a class="nav" href="no-img.html">No images</a><span class="hide"> | </span>
<a class="nav" href="#">Example menu</a><span class="hide"> | </span>
<a class="nav sub" href="#">Sub-page 1</a><span class="hide"> | </span>
<a class="nav sub" href="#">Active sub-page</a><span class="hide"> | </span>
<a class="nav sub" href="#">Sub-page 2</a>
</p>

<h1>Included colors</h1>
<img src="img/colors.jpg" height="104" width="125" class="thumbnail" alt="Included colors" />

<h1>Search</h1>
<p class="searchform">
<input type="text" alt="Search" class="searchbox" />
<input type="submit" value="Go!" class="searchbutton" />
</p>

<h1>Latest news</h1>
<p><strong>Dec 11: </strong>
andreas09 is built with valid XHTML 1.1 and CSS2. It is simple and easy to work with, and it comes in several different flavors. This is version 1.0 (Dec 11th 2005).</p>
<p><strong>Dec 10: </strong>
Place for news or important messages, maybe?</p>

<h1>Links:</h1>
<ul class="linklist">
<li><a href="http://andreasviklund.com">My website</a></li>
<li><a href="http://andreasviklund.com/templates">Free website templates</a></li>
<li><a href="http://openwebdesign.org">OpenWebDesign.org</a></li>
<li><a href="http://oswd.org">OSWD.org</a></li>
</ul>
</div>

<div id="contentalt" >
<h1>Contents</h1>
<%= @content_for_layout %>
</div>

<div class="clearingdiv">&nbsp;</div>
</div>
</div>
<div id="footer">&copy; 2005 brahminsmatrimony.com | Design by <a href="http://andreasviklund.com">Andreas Viklund</a></div>
</body>
</html>