<p><label for="savedsearch_savedname">Give a Name for this Search</label><br/>
<%= text_field 'savedsearch', 'savedname'  %></p>

<p>
<%= check_box 'savedsearch', 'emailalert'  %><label for="savedsearch_emailalert">Alert me by Email for new ads</label>
</p>
<!--[eoform:savedsearch]-->

