<%= error_messages_for 'feedback' %>

<!--[form:feedback]-->
<p>Fields with <b>Bold</b> are required!</p>
<p><label for="feedback_msgtitle"><b>Message Title</b></label><br/>
<%= text_field 'feedback', 'msgtitle'  %></p>

<p><label for="feedback_msgdescription">Message Description</label><br/>
<%= text_area 'feedback', 'msgdescription'  %></p>

<!--[eoform:feedback]-->

