<% @myage = Date.today.year - @ad.year.name %>
                        	<% if Date.today.month < @ad.month.id  %>
	<% @myage = @myage -1 %>
	<% end %>
	<table width="100%" border="0" align="center" cellpadding="7" cellspacing="0" bgcolor="#CFE4FA">
	<tr><td><%=@ad.title%><br/>Age <b><%=@myage.to_s%>, <i><%=@ad.propertytype.propertytypename%></i></b> - <%=@ad.member.sex.name%> - <u><%=@ad.maritalstatus.name%></u>, <%=@ad.adcity.adcityname%>
                         
     </td></tr></table><br/>
<table width="100%" cellspacing="0" cellpadding="3" id="clientprofiledetails">

<%if @ad.adtype_id ==1 %>
<tr><td colspan="4" style="background-color: pink; height: 3px;"> </td></tr>
	<%else %>
<tr><td colspan="4" style="background-color: #CFE4FA; height: 3px;"> </td></tr>
<% end %>
<tr>
<td colspan="4"><strong>Basic Information</strong></td>

</tr>
<tr>
<td>Profile ID</td>
<td><%=@ad.member_id.to_s%></td>
</tr>
<tr>
<td>Name and Contact Info</td>
<td><% if @ad.verifiedprofile == 1 %>
	<img src="/images/icons/verified32.jpg"  alt="Phone Number and Profile Name Verified by us" title="Phone Number and Profile Name Verified by us"/>
	<b>*** Verified Phone Number ***</b><br/>
	<% end %>
                        	<% @oktodisplay = 0 %>
                        	<% if session[:member]%>
                        	<% @myuser = Member.find(session[:member])%>
                        	<% if @myuser.usertype_id > 1 or session[:superuser] %>
                        	<% @oktodisplay = 1 %>
                        	<% if @ad.nophone == 0 %>
                        	Name: <%=@ad.realname%> <br/><br/>Phone : <%=@ad.member.phone_no%> 
                        	<% if @ad.member.mobile_no %> | Mobile No: <%=@ad.member.mobile_no.to_s%> <% end %>
                        	 <br/><br/> Address: <%=@ad.homeaddress%> <%=@ad.zip%><br/>
                        	 <% else%>Please send a Private Message to contact this member

       <% end %>

                        	<% else%>
                        	<% @mycount = Ad.count(:conditions => 'status = 1 and member_id = '+ @myuser.id.to_s)%>
                        	<% if @mycount > 0 %>
                        	<%=@ad.realname%> <br/><br/>Phone : <%=@ad.member.phone_no%> 
                        	<% if @ad.member.mobile_no %> | Mobile No: <%=@ad.member.mobile_no.to_s%> <% end %> <br/><br/>Address: <%=@ad.homeaddress%> <%=@ad.zip%>
                        	<% else %>
                        	<a href='/editmyprofile'>You must create your Profile and must be approved first to view contact details</a>
                        	<% end %>
                        	
                        	<% end %>
                        	
                        	
                        	<% else %>
                        	<a href="/login">Login to View Contact details</a>
                        	<% end %></td>
</tr>
<% cache(:action => 'faq', :part => 'ad'+@ad.id.to_s) do %> 

<tr>
<td>Current Location</td>
<td><%=@ad.mycity1%>, <%=@ad.mycountry.name%> <img src="/images/flags/<%=@ad.mycountry.iso2.downcase%>.gif" alt="<%=@ad.mycountry.iso2.downcase%>" title="<%=@ad.mycountry.iso2.downcase%>"/></td>
</tr>
<tr>
<td>Visa Status if outside India</td>
<td><%=@ad.visastatus%>&nbsp;</td>
</tr>
<tr><td colspan="4" style="background-color: gold; height: 3px;"> </td></tr>
<tr>
<td colspan="4"><strong>Education and Career</strong></td>

</tr>

<tr>
<td>Degrees and Education Major</td>
<td><%=@ad.degrees%> <%=@ad.educationmajor.name%></td>
</tr>


<tr>
<td>Profession</td>
<% if Sitestuff::MYDOMAIN == 'HindusOnlyMatrimony.com'%>
<td><%=@ad.jobtitle.name%></td>
<% else %>
<td><%=@ad.adcity.adcityname%></td>
<% end %>
</tr>

<tr>
<td>Current Job Title</td>
<td><%=@ad.occupation%></td>
</tr>
<tr>
<td>Salary</td>
<td><%=@ad.salaryrange.name%></td>
</tr>



<tr>
<td>Job Transferable?</td>
<td><%=@ad.jobtransfer%>&nbsp;</td>
</tr>

<tr><td colspan="2" style="background-color: silver; height: 3px;"> </td></tr>

<tr>
<td colspan="2"><strong>Profle Description</strong></td>

</tr>

<tr>
<td colspan="2">
	<%=@ad.description.gsub(/\n/, '<br/>').gsub(/,/, ', ')%>
</td>

</tr>

<tr><td colspan="4" style="background-color: green; height: 3px;"> </td></tr>
<tr>
<td colspan="4"><strong>Appearance and Physical Status</strong></td>

</tr>
<% if @ad.bloodgroup_id != 9 %>
<tr>
<td>Blood Group</td>
<td><%=@ad.bloodgroup.name%></td>
</tr>
<% end %>
<tr>
<td>Height</td>
<td><%=@ad.height.name%></td>
</tr>
<tr>
<td>Complexion</td>
<td><%=@ad.complexion.name%></td>
</tr>
<tr>
<td>Body Type</td>
<td><%=@ad.bodytype.name%></td>
</tr>
  <% if @ad.facial_id != 49 and @ad.facial_id != 50  and @ad.facial_id != 34  %>
                      
                      
<tr>
<td>Facial Features Look Like</td>
<td><%=@ad.facial.name%></td>
</tr>
<% end %>

<tr><td colspan="4" style="background-color: purple; height: 3px;"> </td></tr>
<tr>
<td colspan="4"><strong>Religion and Social</strong></td>

</tr>
<% if @ad.poorviham_id != 1%>

<tr>
<td>Origin</td>
<td><%=@ad.poorviham.name%> </td>
</tr>
<% end %>
<% if @ad.gothra_id != 5%>
<tr>
<td>Gothra</td>
<td><%=@ad.gothra.name%></td>
</tr>
<% end %>
    <% if @ad.subsect_id != 5%>
<tr>
<td>Subsect</td>
<td><%=@ad.subsect.name%>&nbsp; </td>
</tr>
<% end %>
<% if @ad.zodiac_id > 1%>	
<tr>
<td>Zodiac</td>
<td><%=@ad.zodiac.name%> 

	<img src="/images/zodiac/<%=@ad.zodiac.name.downcase[0,3]%>.jpg" alt="<%=@ad.zodiac.name%>" title="<%=@ad.zodiac.name%>"/>
	</td>
</tr>
<% end %>

     <% if @ad.birthstar_id != 5 %>
<tr>
<td>Birth Star</td>
<td><%=@ad.birthstar.name%></td>
</tr>
<tr>
<td>Padam and Nadi</td>
<td> <%=@ad.nadhi%>&nbsp;</td>
</tr>
<% end %>
<tr>
<td>Doshas If Any</td>
<td><% if @ad.sevvai == 1%>
                          	Sevvai Dosha |  
                          	<% end %>
                          
                          	<% if @ad.kuja == 1%>
                          	Kuja Dosha   
                          	<% end %>&nbsp;</td>
</tr>
 <% if @ad.mangla == 1%>
<tr>
<td>Manglik</td>
<td>Profile is Manglik</td>
</tr>
	<% end %>
	
	<% if @ad.sai == 1 or @ad.shirdi == 1%>
	<tr>
<td>Devotee Of </td>
<td><% if @ad.sai == 1%>
                          	Sathya Sai Devotee <img src="/images/icons/sai_big.jpg" alt="Sathya Sai Devotee" title="Sathya Sai Devotee"/>  
                          	<% end %>
                          	
                          		<% if @ad.shirdi == 1%>
                          	Shirdi Sai Devotee <img src="/images/icons/shirdi.jpg" alt="Shirdi Sai Devotee" title="Shirdi Sai Devotee"/>  
                          	<% end %></td>
</tr>
	<% end %>
	
	<tr><td colspan="4" style="background-color: rgb(102, 102, 204); height: 3px;"> </td></tr>
<tr>
<td colspan="4"><strong>Family Details</strong></td>

</tr>

<tr>
<td>Family Background</td>
<td><%=@ad.family%>&nbsp;</td>
</tr>

<tr>
<td>Mother Tongue</td>
<td><%=@ad.language.name%></td>
</tr>

<tr><td colspan="4" style="background-color: rgb(204, 51, 204); height: 3px;"> </td></tr>
<tr>
<td colspan="4"><strong>Life Style</strong></td>

</tr>
   <% if @ad.hobbies%>
<tr>
<td>Hobbies and Interests</td>
<td><%=@ad.hobbies%>&nbsp;</td>
</tr>
<% end %>

<% if @ad.vegeterian == 1 or @ad.teetotaler == 1 or @ad.dontsmoke == 1 %> 
<tr>
<td>Habits</td>
<td>
	<% if @ad.vegeterian == 1 %>
	<img src="/images/icons/veg32.jpg"  alt="Vegetarian" title="Vegetarian"/> Vegetarian |  
                          	<% end %>
                          	<% if @ad.teetotaler == 1 %>
                          	<img src="/images/icons/dontdrink16.jpg"  alt="teetotaler" title="teetotaler"/>
                          	Teetotaler |<% end %>
                          	<% if @ad.dontsmoke == 1 %>
                          	<img src="/images/icons/dontsmoke16.jpg"  alt="Non Smoker" title="Non Smoker"/>
                          	Non Smoker |  
                          	<% end %>
                          	
</td>
</tr>
<% end %>

<tr><td colspan="2" style="background-color: rgb(255, 102, 102); height: 3px;"> </td></tr>

<tr>
<td colspan="2"><strong>What I am Looking For</strong></td>

</tr>

<tr>
<td>Age Range</td>
<td><%=@ad.agerange1.age%>-<%=@ad.agerange2.age%>&nbsp;</td>
</tr>
<tr>
<td>Job Type</td>
<td><%=@ad.lookingjobtype.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Brahmin Type</td>
<td><% if @ad.nobar == 1%>Any Caste is OK
	<%else%><%=@ad.lookingbrahmintype.gsub(/,/, ', ')%>
	<% end %>
&nbsp;</td>
</tr>
<tr>
<td>Origin</td>
<td><%=@ad.lookingorigin.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Subsects</td>
<td><%=@ad.lookingsubsect.gsub(/,/, ', ')%>&nbsp;</td>
</tr>

<tr>
<td>Complexion</td>
<td><%=@ad.lookingcomplexion.gsub(/,/, ', ')%>&nbsp;</td>
</tr>
<tr>
<td>Height</td>
<td><%=@ad.lookingheight.name%>&nbsp;</td>
</tr>
 <% if @ad.lookingbodytype_id%>
<tr>
<td>Body Type</td>
<td><%=@ad.lookingbodytype.name%>&nbsp;</td>
</tr>
<% end %>
<tr><td colspan="2" style="background-color: rgb(102, 51, 0); height: 3px;"> </td></tr>

<tr>
<td colspan="2"><strong>Ideal Match Description</strong></td>

</tr>

<tr>
<td colspan="2">
	<%=@ad.partnerdescription%>&nbsp;
</td>

</tr>

</table>                   
             
             <table width="100%" border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#CFE4FA">
       
                          	
                              
                                   
                   
                      
<% @addlink = url_for(:controller => 'userfunctions', :action => 'addfavorite') %>
<% @pplink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>

                        <tr><td colspan="2" align="left" bgcolor="#FFFFFF" >
<% @contactlink = url_for(:controller => 'userfunctions', :action => 'pmnew', :ad_id => @ad.id, :to_user => @ad.member_id) %>
</td>
                      </tr>
                      <tr>

                        <td colspan="2" align="center" bgcolor="#FFFFFF" ><div class="loginlh"><img src="/images/forward.gif" alt="" width="16" height="14" /> <a href="/tell-a-friend"  class="searchlink">Forward to Friend</a> | <img src="/images/icons/star.gif" alt="Add to my favorites" title="Add to my favorites"/>  <a href="<%=@addlink%>"> Add To My Favorites></a> | <a href="http://www.addthis.com/bookmark.php" onclick="addthis_url   = location.href; addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="AddThis Social Bookmark Button" /></a> <script type="text/javascript">var addthis_pub = 'find101';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script>  | <a href="<%=@pplink%>">Send a Private Message</a> 


 </div></td>
                      </tr>
                      <tr>
                        <td colspan="2" align="left" bgcolor="#FFFFFF">&nbsp;</td>
                      </tr>
                    </table>
                      
        <br/>
        	<script type="text/javascript"><!--
google_ad_client = "pub-8650959444792054";
/* 336x280, created 3/17/09 */
google_ad_slot = "9677908553";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<% end %>
<br/>
        <%= render :partial => 'superusermenu' %>
