<% if session[:member] %>

<%  		@myuser = Member.find(session[:member]) %>

        <table width="267" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="12"><img src="/images/red-left.gif" alt="" width="12" height="12" /></td>
            <td width="243" class="rrtop">&nbsp;</td>
            <td width="12"><img src="/images/red-right.gif" alt="" width="12" height="12" /></td>
          </tr>
          <tr>
            <td class="rrleft"><img src="/images/red-m-left.gif" alt="" width="12" height="97" /></td>
            <td class="rrmiddle">
			<h1 class="redhead">User <b>Menu</b></h1>
			<ul id="redlist">
			<li><a href="/controlpanel">Control Panel (<%= @myuser.usertype.name %>)</a></li>
			<li><a href="/logout">Log Out</a></li>
			<li><a href="/editprofile">Change My Login Profile</a></li>
<%@myinbcount = Pmessage.count(:conditions => "to_user="+session[:member].to_s + " and read_on is null and receiver_delete = 0 ")%>
<%if @myinbcount > 0 %>

<li><a href="/mypms">My Private Messages</a> <img src="/images/new.gif"></li>
<%else%>

<li><a href="/mypms">My Private Messagess</a> <img src="/images/new_mail_16.ico"> </li>
<%end%><br/>

			<% if session[:employer] %>
			<li><a href="/editcompany">Edit My Company Data</a></li>
			<li><a href="/newjob">Post New Job</a></li>
			<li><a href="/myjobs">My Jobs</a></li>
			<li><a href="/myapplicants">My Job Applicants</a></li>
			<% else %>
			<li><a href="/editseekerprofile">Edit My Job Seeker Profile</a></li>
			<li><a href="/editprivacy">Edit My Privacy Settings</a></li>
			<li><a href="/editresume">Edit Resume</a></li>
			<li><a href="/mysavedsearches">My Job Agents</a></li>
			<li><a href="/myfavorites">My Saved Jobs</a></li>
			<li><a href="#">Why brahminsmatrimony?</a></li>
			<% end %>
			</ul>			</td>
            <td class="rrright"><img src="/images/red-m-right.gif" alt="" width="12" height="97" /></td>
          </tr>
          <tr>
            <td><img src="/images/red-b-left.gif" alt="" width="12" height="12" /></td>
            <td class="rrbottom">&nbsp;</td>
            <td><img src="/images/red-b-right.gif" alt="" width="12" height="12" /></td>
          </tr>
        </table>
 
 <% else %>
 
 
        <table width="267" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="12"><img src="/images/red-left.gif" alt="" width="12" height="12" /></td>
            <td width="243" class="rrtop">&nbsp;</td>
            <td width="12"><img src="/images/red-right.gif" alt="" width="12" height="12" /></td>
          </tr>
          <tr>
            <td class="rrleft"><img src="/images/red-m-left.gif" alt="" width="12" height="97" /></td>
            <td class="rrmiddle">
			<h1 class="redhead">New To <b>Our Site?</b></h1>
			<ul id="redlist">
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register for Free!</a></li>
			<li><a href="/whyfaq">Why brahminsmatrimony?</a></li>
			</ul>			</td>
            <td class="rrright"><img src="/images/red-m-right.gif" alt="" width="12" height="97" /></td>
          </tr>
          <tr>
            <td><img src="/images/red-b-left.gif" alt="" width="12" height="12" /></td>
            <td class="rrbottom">&nbsp;</td>
            <td><img src="/images/red-b-right.gif" alt="" width="12" height="12" /></td>
          </tr>
        </table>
        
 <% end %>
			<% if session[:employer] %>
 <% @myuser = Member.find(session[:member]) %>


          <table width="267" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
              <td width="243" class="brtop">&nbsp;</td>
              <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
            </tr>
            <tr>
              <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
              <td class="brmiddle"><h1 class="bluehead">Resume<b> Search</b></h1>
		<% if @myuser.jbemployer %> Resume Credits = <b><%=@myuser.jbemployer.resumecredits%></b> <a href="mailto:support@brahminsmatrimony.com">Buy More</a><br/>
             <% end %> 

                  <ul id="bluelist">
                    <li><a href="/resumesearch" class="searchlink">Search Resumes</a></li>
                    <li><a href="/mysavedresumes" class="searchlink">My Saved Resumes</a></li>
                    <li><a href="/resumes/all/all/all" class="searchlink">Browse Resumes</a></li>
                    <li><a href="/employer/resumeagent" class="searchlink">My Resume Agent</a></li>
                  </ul></td>
              <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
            </tr>
            <tr>
              <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
              <td class="brbottom">&nbsp;</td>
              <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
            </tr>
          </table>
<% end %>