                            <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>

<% @myage = Date.today.year - @myad.year.name %>
<% if Date.today.month < @myad.month.id  %>
	<% @myage = @myage -1 %>
	<% end %>
	
 <tr>     
                       	 <td align="left" valign="top" bgcolor="#CFE4FA">ID : <b><%=@myad.member_id.to_s%></b>   <font class="loginlh"><%if @myad.verifiedprofile == 1 %><img src="/images/icons/verified32.jpg"  width="16" height="16 alt="Phone Number and Profile Name Verified by us" title="Phone Number and Profile Name Verified by us"/><% end %>     <a href="<%=@link%>" class="searchlink"><%=@myad.title[0..59]%></a> </td></tr><tr><td>
                       	 	<table border="0"><tr>
                       	 		<td align="left" valign="top" bgcolor="#FFFFFF">
 	
 	<%= render :partial => 'singlephoto' %>
 	

</td><td>


<p><b><i>Age <%=@myage.to_s%> - <%=@myad.propertytype.propertytypename%>
			<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
	<% @myc = Mycountry.find(:first, :conditions => 'id = ' + @myad.propertytype_id.to_s)%>
	<% if @myc %>
	<img src="/images/flags/<%=@myc.iso2.downcase%>.gif" alt="<%=@myc.iso2.downcase%>" title="<%=@myc.iso2.downcase%>"/>
	<% end %>
	<% end %>
	<% if @myad.adcity_id != 0 %>
	, <%=@myad.adcity.adcityname%><% end %></i></b> - 
	<% if @myad.member.sex.name == 'Male'%>
	<span style="color: rgb(51, 0, 153);font-weight: bold;">
		
	
	<% else %>
	<span
 style="color: rgb(204, 51, 204); font-weight: bold;">
	
	<% end %>
	<%=@myad.member.sex.name%></span>
	, <%=@myad.maritalstatus.name%> 
<% if @myad.gothra_id != 5 %> Gothra: <%= @myad.gothra.name%>,<% end %>
	<% if @myad.birthstar_id != 5 %>
 Star: <%=@myad.birthstar.name%> <% end %>
 
   </p>                   
                               
<p>
<%=@myad.degrees[0..30]%> 
                              	<% if @myad.educationmajor_id != 0 %>

                              	 (<%=@myad.educationmajor.name%>)
                              	<% end %></p>
                              	<p><%=h @myad.occupation%> 
                              		In
                              		<% if @myad.mycity_id > 1 %>
                              		<%=@myad.mycity.name%>
                              		<% else %>
                              		<% if @myad.mycity1%><%=@myad.mycity1%> <% end %>
                              		<% end %>
                              		
                              		 <%=@myad.mycountry.name%> <img src="/images/flags/<%=@myad.mycountry.iso2.downcase%>.gif" alt="<%=@myad.mycountry.iso2.downcase%>" title="<%=@myad.mycountry.iso2.downcase%>"/></p>
                              	<% if @myad.salaryrange_id != 0%>
<p>Salary:  <%=@myad.salaryrange.name%></p><% end %>
                              	
                              	
                              </font>                              

<p>
<% if @myad.nobar == 1%>
	<b>Caste No Bar </b>
	<% end %>
	
<% if @myad.pimage1 %>
	<% if @myad.adtype_id == 1%>
	<% @mypimage = '/images/icons/privatefemalesmall.gif' %>
	<% else %>
	<% @mypimage = '/images/icons/privatemalesmall.gif' %>
	
	<% end %>
	<img src="<%=@mypimage%>"  alt="Private Photos Available" title="Private Photos Available"/>
<% end %>
<% if @myad.verifiedprofile == 1 %>
	<img src="/images/icons/verified16.jpg"  alt="Phone Number and Profile Name Verified by us" title="Phone Number and Profile Name Verified by us"/>
	<% end %>
	
	
<% if @myad.sai == 1 %>
	<img src="/images/icons/sai_big.jpg" width="24" height="20" alt="Devotee of Sathya Sai" title="Devotee of Sathya Sai"/>
	<% end %>
	

<% if @myad.shirdi == 1 %>
	<img src="/images/icons/shirdi.jpg" width="24" height="24" alt="Devotee of Shirdi Sai Baba" title="Devotee of Shirdi Sai Baba"/>
	<% end %>
	
	
	

<% if @myad.vegeterian == 1 %>
	<img src="/images/icons/veg16.jpg"  alt="Vegetarian" title="Vegetarian"/>
	<% end %>
	
	
	

<% if @myad.teetotaler == 1 %>
	<img src="/images/icons/dontdrink16.jpg"  alt="teetotaler" title="teetotaler"/>
	<% end %>
	
	
	

<% if @myad.dontsmoke == 1 %>
	<img src="/images/icons/dontsmoke16.jpg"  alt="Non Smoker" title="Non Smoker"/>
	<% end %>

<% if @myad.zodiac_id > 1%>	
	<img src="/images/zodiac/<%=@myad.zodiac.name.downcase[0,3]%>.jpg" alt="<%=@myad.zodiac.name%>" title="<%=@myad.zodiac.name%>"/>
	<% end %>

	
</p>                               

<%  if @myad.status == 0 %>
<h1>Pending Ad </h1>
<% end %>
 
 
                              	

</td>

 
</tr>
<tr><td><img src="/images/viewme.gif" alt="view profile" alt="view full profile"/> <a href="<%=@link%>" class="jlink">View Profile</a></td><td>
	<img src="/images/icons/smiley.png"" alt="express interest" title ="express interest" /><a href="/userfunctions/expinterest/<%=@myad.member_id.to_s%>">Express Interest</a>
	
</td></tr>
</table></td></tr>
<tr>
