<% cache(:action => 'advertise', :part => 'advertise') do %>
		<div id="example" class="post">
			<h2 class="title"><span>advertise</span></h2>
			<div class="story">
Welcome to <%=Sitestuff::MYDOMAIN%> Advantages of using our site to advertise :-

    * Viewed by millions of visitors every day
    * Very easy to use and user friendly site
    * Non Intrusive advertisements
    * Highly targeted market. The visitors to our site are in the high income bracket and highly educated.
    * Cross selling and up selling
    * We work with you and give you our data mining expertise to get the best result possible within budget.

Please contact support@ <%=Sitestuff::MYDOMAIN%> today!

 

To our customers we offer the following advantages :-

    * All the ads are manually processed and approved; this improves the quality of the rental properties in our site and gives a more valuable experience for our site visitors
    * No pop up ads. 
    * You can hide your profile and email to avoid Spam; you get your own private mail box to communicate.
    * Your own hot list to track properties you are interested
    * Email Alerts for automatic email notification of new ads that match your selection criteria.
    * Excellent customer support.
    * Option to report a ad for violation of our policy or misleading/unethical posting.
			</div>
		</div>


<% end %>

