      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Civilian Jobs in US Navy and Naval Bases</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                   
                        
              <td class="brmiddle"> <div class="loginlh">
Jobs with US Navy

The US Navy offers many opportunities for career professionals and civilians. You can see the world and enjoy a good life. The US navy has bases all over the world. The base life is very good. The navy takes care of its people and their families very well. The families are close to each other since the spouses usually go out on long assignments.

 

 

Here are the list of naval bases, Naval Air Weapons Stations, Naval Air Stations, Naval Districts and home ports all over the world.


State / Country
 Location
 Details
 
California
 China Lake, CA
 
 Naval Air Weapons Station
1 Administration Circle
China Lake, CA 93555-6100
760-939-9011  DSN: 437-9011
 
 
 Lemoore, CA Naval Air Station Lemoore
700 Avenger Avenue
Lemoore, CA 93246-5001
559-998-3300  DSN: 949-3300

 
 
 
 Monterey, CA 
 
 Naval Postgraduate School
1 University Circle
Monterey, CA 93943-5001
831- 656-2441/2  DSN: 756-2441/2

 
 
 
 Point Mugu, CA
 
 Naval Base Ventura County
Point Magu Naval Air Station
521 9th St.
Point Mugu, CA 93042-5001
805-989-1110  DSN: 351-1110
 
 
 San Diego, CA
 
 Commander, Navy Region Southwest
937 North Harbor Drive
San Diego, CA 92132-5100
Base Information: 619-556-1011

 
 
 
 Seal Beach, CA

 
 Naval Weapons Station Seal Beach
800 Seal Beach Blvd
Seal Beach, CA 90740-5000
562-626-7000
 
Connecticut
 Groton, CT

 
 Navy Region Northeast
Box 100
Groton, CT 06349-5100
Base Information: 860-694-4636  DSN: 694-4636
 
Washington DC
 Washington DC
 Naval District Washington
901 M Street SE
Washington, DC 20374-5001
 
Florida
 Jacksonville, FL
 Commander, Navy Region Southeast
Box 102, Naval Air Station
Jacksonville, FL 32212-0102
Base Information: 904-542-2345;  DSN: 942-2345

 
 
 
 Key West, FL

 
 Naval Air Station
PO Box 9001
Key West, FL 33040-9001

Base information: 305-293-2268  DSN: 483-2268
 
 
 Pensacola, FL

 
 Naval Air Station Pensacola
190 Radford Blvd.
Pensacola, FL 32508-5217
Base Information: 850-452-0111  DSN: 922-0111 

 
 
Georgia
 Atlanta
 Commanding Officer
Naval Air Station Atlanta
1000 Halsey Avenue
Marietta, GA 30060-5099
Base Information: 678-655-1110 

 
 
 
 Kings Bay, GA

 
 Naval Submarine Base Kings Bay
1063 USS Tennessee Avenue
Kings Bay, GA 31547-2606
Base Information: 912-673-2000
 
Hawaii
 Pearl Harbor, HI

 
 Navy Region, Hawaii
517 Russell Ave., Suite 110
Pearl Harbor, HI 96860-4884
Base Information: 808-449-7110  DSN: 449-7110 

 
 
Illinois
 Great Lakes, IL

 
 Naval Service Training Command
2601A Paul Jones Street 
Great Lakes, IL 60088-5000
Base Information: (847) 688-3500
 
Indianapolis
 Crane, IN

 
 Crane Division, Naval Surface Warfare Center
300 Hwy 361
Crane, IN 47522-5001 
Information: 1-800-798-2204; 812-854-1762; 812-854-1640

 
 
Louisiana
 New Orleans, LA

 
 Naval Air Station Joint Reserve Base New Orleans
400 Russell Ave
New Orleans, LA. 70143-5012
Command Duty Officer: 504-678-3263/3264  DSN: 678-3263/3264 

 
 
Maryland
 Annapolis, MD

 
 United States Naval Academy
121 Blake Road
Annapolis, MD 21402-5000
Base Information: 410-293-1000  DSN: 281-1000 

 
 
 
 Patuxent River, MD

 
 Naval Air Station
Patuxent River, MD 20670-5409
Base Information: 301-342-3000  DSN: 342-3000 

 
 
Maine
 Brunswick, ME

 
 Naval Air Station
1251 Orion St.
Brunswick, ME 04011
Base Information: 207-921-2000 

 
 
Mississippi
 Gulfport, MS

 
 Naval Construction Battalion Center
Gulfport, MS
Quarterdeck: (228) 871-2555  DSN: 868-2555 

 
 
 
 Meridian, MS

 
 Naval Air Station
1155 Rosenbaum Avenue
Meridian, MS 39309-5003
Base Information: 601-679-2528 

 
 
 
 Pascagoula, MS
 Naval Station Pascagoula
Pascagoula, MS 39567-5000
Base Information: 228-761-2140  DSN: 358-2140 

 
 
Nevada
 Fallon, NV

 
 Naval Air Station
Fallon, NV 89406
Base Information: 775-426-5161  DSN: 890-5161 

 
 
New Jersey
 Earle, NJ

 
 Naval Weapons Station Earle
201 Hwy 34 S
Colts Neck, NJ 07722-5001
Base Information: 732-866-2500

 
 
Pennsylvania
 Willow Grove, PA

 
 Naval Air Station Willow Grove
P.O. Box 21
Willow Grove, PA 19090-5021
Public Affairs Office: 215-443-1776

 
 
Rhode Island
 Newport, RI

 
 Naval Station Newport
690 Peary Street
Newport, RI 02841-1522
Base Information: 401-841-3456
 
South Carolina
 Charleston, SC

 
 Naval Weapons Station Charleston
2316 Red Bank Road
Goose Greek, SC 29445-8601
Base Information: 843-764-7000 

 
 
Tennessee
 Millington, TN

 
 Naval Support Activity Mid-South
7800 Integrity Ave
Millington, TN 38054
Base Information: 901-874-5509 

 
 
Texas
 Corpus Christi, TX

 
 Naval Air Station Corpus Christi
11001 D Street, Suite 143
Corpus Christi, TX 78419-5021
Base Information: 361-961-2811
 
 
 Fort Worth, TX

 
 Naval Air Station Ft. Worth
11001 D Street, Suite 143
Ft. Worth, TX 78419-5021
Base Information: 817- 782-7152
 
 
 Ingleside, TX

 
 Naval Station Ingleside
1455 Ticonderoga Road
Ingleside, TX 78362-5001
Base Information: 361-776-5781  DSN: 776-5781 

 
 
 
 Kingsville, TX

 
 Naval Air Station Kingsville
554 McCain Street
Kingsville, TX 78363-5053
Base Information: 361-516-6333  DSN: 876-6333 

 
 
Virginia
 Norfolk, VA

 
 Commander
Navy Region Mid-Atlantic
6506 Hampton Blvd
Norfolk, VA 23508-1273
Base Information: 757-444-0000 
 DSN: 564-0000
 
Washington
 Silverdale, WA

 
 Navy Region Northwest
1103 Hunley Road
Silverdale, WA 98315-1199
Base Information: 360-396-6111  DSN: 744-6111

 
 
 
 Bremerton, WA

 
 Naval Base Kitsap
1100 Hunley Road
Silverdale, WA 98315-1199
Base Information: 360-396-6111  DSN: 744-6111

 
 
 
 Everett, WA

 
 Naval Station Everett
2000 West Marine View
Everett, WA 98207-5001
Base Information: 425-304-3000  DSN: 727-3000
 
 
 Whidbey Island, WA

 
 Naval Air Station Whidbey Island
3730 North Charles Porter Ave.
Oak Harbor, WA 98278-5000
Base Information: 360-257-2211  DSN: 820-2211 

 
 

 
 
Home Ports and Ships
 
Bahrain
 Bahrain (Gulf Countruy)
 USS    ARDENT                  
USS    CARDINAL                
USS    DEXTROUS                
USS    RAVEN                  
 
Washington
 Bangor
 USS    ALABAMA                 
USS    ALASKA                 
USS    FLORIDA                  
USS    HENRY M JACKSON          
USS    JIMMY CARTER             
USS    KENTUCKY                 
USS   NEVADA                    
USS    OHIO                     
USS    PENNSYLVANIA            
 
 
 BREMERTON
 USS    CAMDEN                      
USS   COLUMBUS                      
USS    HOUSTON                  
USS    JOHN C STENNIS          
 
 
 Everett
 USS    ABRAHAM LINCOLN          
USS    FORD                      
USS    INGRAHAM                  
USS    RODNEY M DAVIS           
USS    SHOUP                    
 
 
Massachusetts
 CHARLESTOWN
 USS    CONSTITUTION
 
 
Italy
 GAETA
 USS    MOUNT WHITNEY 
 
Connecticut
 Groton
 USS    ALBUQUERQUE
USS    ALEXANDRIA 
USS    AUGUSTA 
USS    CONNECTICUT   
USS    DALLAS   
USS    HARTFORD   
USS    MEMPHIS       
USS    MIAMI     
USS    PHILADELPHIA  
USS    PITTSBURGH    
USS    PROVIDENCE   
USS    SAN JUAN   
USS    SEAWOLF   
USS    TOLEDO   
USS    VIRGINIA            
 
Guam
 Guam
 USS    CITY OF CORPUS CHRISTI
USS    FRANK CABLE
USS    SAN FRANCISCO  
 
 
Texas
 INGLESIDE
 USS    AVENGER 
USS    BLACK HAWK
USS    CHAMPION
USS    CHIEF 
USS    CORMORANT
USS    DEFENDER
USS    DEVASTATOR
USS    FALCON 
USS    GLADIATOR 
USS    HERON 
USS    KINGFISHER
USS    ORIOLE 
USS    OSPREY
USS    PELICAN  
USS    PIONEER
USS    ROBIN 
USS    SCOUT  
USS    SENTRY
USS    SHRIKE
USS    WARRIOR
 
Georgia
 Kings Bay
 USS    LOUISIANA
USS    MAINE
USS    MARYLAND

USS    NEBRASKA
USS    RHODE ISLAND
USS    TENNESSEE
USS    WEST VIRGINIA
USS    WYOMING
 
Italy
 La Maddalena
 USS    EMORY S LAND
 
Virginia
 Little Creek
 USS    ASHLAND  
USS    CARTER HALL
USS    CHINOOK
USS    FIREBOLT
USS    GRAPPLE
USS    GRASP
USS    GUNSTON HALL
USS    OAK HILL
USS    SIROCCO
USS    TEMPEST
USS    THUNDERBOLT
USS    TORTUGA
USS    TYPHOON
USS    WHIDBEY ISLAND
USS    WHIRLWIND  
 
Florida
 Mayport
 USS    BOONE
USS    CARNEY
USS    DE WERT
USS    DOYLE
USS    GETTYSBURG
USS    HALYBURTON
USS    HUE CITY
USS    JOHN F KENNEDY
USS    KLAKRING
USS    MCINERNEY
USS    PHILIPPINE SEA
USS    ROBERT G BRADLEY
USS    ROOSEVELT 
USS    SAMUEL B ROBERTS
USS    SIMPSON
USS    TAYLOR 
USS    THE SULLIVANS
USS    UNDERWOOD
USS    VICKSBURG
 
Virginia
 Norfolk
 USS    ALBANY
USS    ANZIO 
USS    ARLEIGH BURKE
USS    AUSTIN 
USS    BARRY 
USS    BATAAN
USS    BOISE
USS    BULKELEY 
USS    CAPE ST GEORGE
USS    CARL VINSON 
USS    CARR
USS    COLE 
USS    DONALD COOK  
USS    DWIGHT D EISENHOWER
USS    ELROD
USS    ENTERPRISE
USS    GEORGE WASHINGTON
USS    GEORGIA 
USS    GONZALEZ
USS    HAMPTON
USS    HARRY S TRUMAN 
USS    HAWES
USS    HYMAN G RICKOVER
USS    IWO JIMA 
USS    JACKSONVILLE
USS    JAMES E WILLIAMS
USS    KAUFFMAN
USS    KEARSARGE
USS    LABOON
USS    LEYTE GULF
USS    MAHAN 
USS    MASON
USS    MCFAUL
USS    MINNEAPOLIS SAINT PAUL
USS    MITSCHER 
USS    MONTEREY
USS    MONTPELIER 
USS    NASHVILLE
USS    NASSAU 
USS    NEWPORT NEWS
USS    NICHOLAS
USS    NITZE 
USS    NORFOLK
USS    NORMANDY
USS    OKLAHOMA CITY
USS    OSCAR AUSTIN 
USS    PONCE 
USS    PORTER
USS    RAMAGE
USS    ROSS
USS    SAIPAN
USS    SAN JACINTO
USS    SCRANTON
USS    SHREVEPORT 
USS    STOUT
USS    THEODORE ROOSEVELT 
USS    TRENTON
USS    VELLA GULF
USS    WASP
USS    WINSTON S CHURCHILL
 
Mississippi
 PASCAGOULA
 USS    JOHN L HALL 
USS    STEPHEN W GROVES
USS    THOMAS S GATES
 
Hawaii
 Pearl Harbor
 USS    BREMERTON
USS    BUFFALO
USS    CHAFEE 
USS    CHARLOTTE
USS    CHEYENNE
USS    CHICAGO
USS    CHOSIN
USS    COLUMBIA 
USS    CROMMELIN
USS    GREENEVILLE
USS    HONOLULU
USS    HOPPER
USS    KEY WEST
USS    LA JOLLA 
USS    LAKE ERIE
USS    LOS ANGELES 
USS    LOUISVILLE
USS    O'KANE  
USS    OLYMPIA
USS    PASADENA
USS    PAUL HAMILTON
USS    PORT ROYAL
USS    REUBEN JAMES
USS    RUSSELL 
USS    SALVOR
USS    SANTA FE
USS    TUCSON 
 
 
New Hampshire
 Portsmouth
 USS    ANNAPOLIS 
USS    SPRINGFIELD
 
California
 San Diego
 USS    ANTIETAM
USS    ASHEVILLE
USS    BELLEAU WOOD
USS    BENFOLD
USS    BONHOMME RICHARD 
USS    BOXER 
USS    BUNKER HILL
USS    CHUNG-HOON
USS    CLEVELAND
USS    COMSTOCK
USS    CORONADO
USS    CURTS
USS    CUSHING
USS    DECATUR
USS    DENVER
USS    DOLPHIN
USS    DUBUQUE 
USS    DULUTH
USS    FITZGERALD
USS    GERMANTOWN
USS    HALSEY
USS    HELENA
USS    HIGGINS 
USS    HOWARD  
USS    HURRICANE 
USS    JARRETT
USS    JEFFERSON CITY
USS    JOHN PAUL JONES
USS    LAKE CHAMPLAIN
USS    MCCAMPBELL
USS    MCCLUSKY
USS    MILIUS
USS    MOBILE BAY
USS    MOMSEN
USS    MUSTIN
USS    NIMITZ  
USS    OGDEN 
USS    PEARL HARBOR
USS    PELELIU 
USS    PINCKNEY
USS    PREBLE
USS    PRINCETON
USS    RENTZ  
USS    RONALD REAGAN 
USS    RUSHMORE
USS    SALT LAKE CITY
USS    SHILOH  
USS    SQUALL 
USS    TARAWA
USS    THACH 
USS    TOPEKA 
USS    VALLEY FORGE
 
Japan
 Sasebo
 USS    ESSEX 
USS    FORT MCHENRY
USS    GUARDIAN   
USS    HARPERS FERRY
USS    JUNEAU
USS    PATRIOT
USS    SAFEGUARD
             
 
 
 Yokosuka
 USS    BLUE RIDGE 
USS    CHANCELLORSVILLE 
USS    COWPENS
USS    CURTIS WILBUR
USS    GARY
USS    JOHN S MCCAIN
USS    KITTY HAWK
USS    LASSEN
USS    STETHEM
USS    VANDEGRIFT
 

             
      




--------------------------------------------------------------------------------

 

You can also use our Email Alerts to notify you of any new job openings with any of the defense departments.

 

We wish you best of luck. We are here to help you and dont hesitate to contact is if you have any questions.

 

 


 
              </div>

</td>
                    <td valign="middle" class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>
                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>			   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


