<% cache(:action => 'links', :part => 'links') do %>
		<div id="example" class="post">
			<h2 class="title"><span>links</span></h2>
			<div class="story">
Please visit our partner website <a href="http://www.bharathrentals.com/browse/all/all/all">A Rental Portal For India</a>
			</div>
		</div>


<% end %>

