		<div id="example" class="post">
			<h2 class="title"><span>Recommend Our Site to your Friend</span></h2>
			<div class="story">
<%=form_tag({:controller => 'tellfriend', :action=>'create'}, :multipart => true)%>
<% if @mytellfriendmsg %>
<%= '<p>'+ @mytellfriendmsg + '</p>' %>
<% end %>
<p>Enter Your Email ID: </p>
<p><input type="text" name="sender" size="50"><br/>

<p>Enter Your Friend's Email ID: </p>
<p><input type="text" name="receiver" size="50"><br/>

<p>Enter Your Message: </p>
<p><input type="text" name="msg" size="50"><br/>


<p><img src="/rents101/code_image"><br/>
<p>Enter the exact 'Code' from the Image above: </p>
<p><input type="text" name="typed_code" size="4"><br/>

  <%= submit_tag "Send to your friend" %>
</form>
<p> Your IP Address is <%=request.remote_ip%> </p>

			</div>
		</div>


