
      <table width="617" border="0" cellspacing="0" cellpadding="0">

        <tr>
          <td>&nbsp;</td>
        </tr>
        
        <tr>
          <td valign="top"><table width="607" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="11"><img src="/images/left-left.gif" alt="" width="11" height="12" /></td>
              <td width="585" class="ltop">&nbsp;</td>
              <td width="11"><img src="/images/left-right.gif" alt="" width="11" height="12" /></td>

            </tr>
            <tr>
              <td class="lleft"><img src="/images/left-m-left.gif" alt="" width="11" height="146" /></td>
              <td class="lmiddle"><img src="/images/bullet.gif" alt="" width="19" height="18" />
                  <h1 class="lheading">Resume</h1>
                <br />
                <br />
               <div class="lmargin">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Resume Details ID : <%=@jbresume.id.to_s%></b></td>
                        </tr>

<tr><td><%=@jbresume.name%></td></tr>
                  <tr><td><%=@jbresume.description%></td></tr>
                  <tr><td>
                  <%=  text_area 'jbresume', 'resumetext',"size" => '60x20'  %></td></tr>
                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
                
                <br/>
                
                
                 <% if @privacy %>
                			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
                                          <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Job Seeker Details</b></td>
                        </tr>
                       
                  <% if @privacy.show_name == 1 %>
                 
                                           <tr>
                        <td height="25"><font class="redtext">*</font> Name :-</td>
                        <td height="25">
                        <%=@jobseeker.fname + " " + @jobseeker.lname%>
                        </td>

                      </tr>
                   <% end %>
                  
                    </table>
                    <br/>
                    
                   
                    
                    </td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
                 <% end %> 
                 
                   
                		   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<%=form_tag({:controller => 'employer', :action=>'saveresume'}, :multipart => true)%>

                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Your Own Private Notes and Tags for This Resume</b></td>
                        </tr>

                                          <tr>
                        <td height="25"><font class="redtext"></font> My Own Notes On This Resume :-</td>
                        <td height="25">
                        <%=  text_area 'myresume', 'notes',"size" => '30x3'  %>
                        </td>

                      </tr>
                      
                      
                                          <tr>
                        <td height="25"><font class="redtext"></font> Tag1 :-</td>
                        <td height="25">
                        <%= text_field 'myresume', 'tag1', "size"=>'30'%>
                        </td>

                      </tr>
                      
                                                              <tr>
                        <td height="25"><font class="redtext"></font> Tag2 :-</td>
                        <td height="25">
                        <%= text_field 'myresume', 'tag2', "size"=>'30'%>
                        </td>

                      </tr>
                                                              <tr>
                        <td height="25"><font class="redtext"></font> Tag3 :-</td>
                        <td height="25">
                        <%= text_field 'myresume', 'tag3', "size"=>'30'%>
                        </td>

                      </tr>

                                        <tr>
                        <td height="25"><font class="redtext"></font> Tag4 :-</td>
                        <td height="25">
                        <%= text_field 'myresume', 'tag4', "size"=>'30'%>
                        </td>

                      </tr>
                      
                                                              <tr>
                        <td height="25"><font class="redtext"></font> Tag5 :-</td>
                        <td height="25">
                        <%= text_field 'myresume', 'tag5', "size"=>'30'%>
                        </td>

                      </tr>

  <tr>
                        <td height="25"><font class="redtext"></font> Click to Save Changes :-</td>
                        <td height="25">
                        <%= submit_tag "Save Changes" %>
                        </td>

                      </tr>



</form>

                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
<br/>
                
			
                		   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td width="12"><img src="/images/blue-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brtop">&nbsp;</td>
                    <td width="12"><img src="/images/blue-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                  <tr>
                    <td class="brleft"><img src="/images/blue-m-left.gif" alt="" width="12" height="97" /></td>
                    <td class="brmiddle"><table width="100%" border="0" align="center" cellpadding="4" cellspacing="1">
<%=form_tag({:controller => 'employer', :action=>'saveresume'}, :multipart => true)%>

                      <tr>
                        <td height="25" colspan="2" bgcolor="#F0F7FE"><b>Anonymous Comments by Other Recruiters like You On this Resume</b></td>
                        </tr>

                                          <tr>
                        <td height="25"><font class="redtext"></font> <b>Titlte/Date</b></td>
                        <td height="25">
                        <b>Comments</b>                       </td>

                      </tr>
                     <% for mycomment in @mycomments %>
                      
                      

                                        <tr>
                        <td height="25"><font class="redtext"></font> <%=mycomment.title%><br/><%=mycomment.created_at.strftime("%m/%d/%Y")%></td>
                        <td height="25">
                        <%= mycomment.comment%>
                        </td>

                      </tr>
                    <% end%>
                      




</form>

                    </table></td>
                    <td class="brright"><img src="/images/blue-m-right.gif" alt="" width="12" height="97" /></td>

                  </tr>
                  <tr>
                    <td><img src="/images/blue-b-left.gif" alt="" width="12" height="12" /></td>
                    <td class="brbottom">&nbsp;</td>
                    <td><img src="/images/blue-b-right.gif" alt="" width="12" height="12" /></td>
                  </tr>
                </table>
                

   
               </div></td>
              <td class="lright"><img src="/images/left-m-right.gif" alt="" width="11" height="146" /></td>

            </tr>
            <tr>
              <td><img src="/images/left-b-left.gif" alt="" width="11" height="12" /></td>
              <td class="lbottom">&nbsp;</td>
              <td><img src="/images/left-b-right.gif" alt="" width="11" height="12" /></td>
            </tr>
          </table> 
</td>
        </tr>
      </table></td>


 
 


