
	TD { COLOR:#000000;
		font-family:verdana;
		font-size:11px;}
	a {COLOR:#003356;
		font-family:verdana;
		font-size:12px;
		text-decoration:none;
		font-weight:bold;}
	a.bot:hover {COLOR:#003356;
		font-family:verdana;
		font-size:11px;
		text-decoration:none;
		font-weight:bold;}
	a.bot {COLOR:#003356;
		font-family:verdana;
		font-size:11px;
		text-decoration:none;
		font-weight:bold;}

.standard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
