
/** {margin:0; padding:0;}*/

body {
	margin: 12px 0 0 0;
	padding: 0;
	font-family: 'Arial'; 
	
	font-size: 9pt;
	color: #333;
	background-color: #fff;
}
/* images */
img.imgborder {margin-right:16px; float: left; padding: 3px; border: 1px solid silver}
img.imgprofile {padding: 3px; border: 1px solid silver; }
img.floatleft{float: left; border: 1px solid silver; padding: 2px; margin-right: 10px; background-color: #fff;}

a img {border: none;}

/* misc. table content formatting */
table {vertical-align: top;}
td {vertical-align: top; font-size: 10pt;}

td.redtop {background-color: #b11d2d; }
td.goldtop { background-color: #E0EDC2;}
td.dotted {background-image: url(../images/dot.gif);background-repeat: repeat-y; width: 8px;}

.w250 { width: 240px; border: 1px solid silver; margin-left: 5px;}

td p {font-size: 10pt; margin: 10px;}

table#content {padding-top: 5px;
}

table.tablesearch td {font-size: 10pt;}
table#clientprofile {border-right: 1px solid silver; border-bottom: 1px solid silver;}
table#clientprofile td {border-top: 1px solid silver; border-bottom: border-right: 1px solid silver; border-left: 1px solid silver;}

table#clientprofiledetails {border-right: 1px solid silver; border-bottom: 1px solid silver;}
table#clientprofiledetails td {border-top: 1px solid silver; border-bottom: border-right: 1px solid silver; border-left: 1px solid silver;}
/* headers */

h2, h3 {text-transform: font-size: 9pt; margin-left: 5px; margin-right: 5px; padding-bottom: 5px; margin-top: 3px; margin-bottom: 0px;}
h2.grayHDR  {color: #686868; border-bottom: 1px dotted silver; padding-top: 0px;}
h2.dot {color: #B11D2D;  border-bottom: 1px dotted silver; }
h2.tinydot {color: #B11D2D;  font-size: 10pt; border-bottom: 1px dotted silver; }


h3 {color: #686868;}
h3.redtop {color: #fff; font-size: 9pt; padding: 5px;}
h3.goldtop { color: #515151;/*color: #7A6F17;*/ font-size: 9pt; padding: 5px;}



/* partner */
div#partner {border: 1px solid silver; width: 100%;}


/* borders and backgrounds*/
div.sborder {border: 1px solid silver;}
.bgray {background-color: #ECECEC;}
.bdot {width: 96%; margin: 0 auto;height: 10px; border-bottom: 1px dotted silver; }

/*container */
#container {
	width: 775px;/*724px;*/
	margin: 0 auto;
}


#topnav {
	width: 775px;/*724px;*/
	height: 44px;
	color: #b11d2d;
	background-color: #fff;
}

#log {margin-top: 5px; float: right; margin-right: 20px; text-transform: uppercase; font-weight: bold;}


#navigation {width: 100%; background-color:#6B8E00/* #44A54D*/; height: 32px; border-bottom: 1px solid #fff; }

#nav {
margin: 0;
padding-top: 7px;
margin-left: 5px;
padding-left: 10px;
}


#nav ul {
padding: 0;
margin: 0;
}

#nav li {
padding-left: 15px;
padding-right:15px;
	/*line-height: 15px;
	text-transform: uppercase;*/
	font-size: 10pt;
	font-weight:bold;
	}

#nav li {
	float:left;
	list-style:none;

	}

#nav a, #nav a:visited {
	color:#fff;
	text-decoration:none;
	font-weight:bold;

	}
/* body links and lists */

ul.ulgreen {list-style-type: disc; color: #6b8e00; margin-right: 10px;}
ul.ulgreen li a {color: #6b8e00;}
ul.ulgreen li a:hover {color: #6b8e00;}

/* bottom nav */


#bottomnav {
	775px;/*724px;*/
	height: 39px;
	color: #fff;
	background-color: #686868;
	border-bottom: 5px solid #515151;

}

#bnav {
padding-top: 12px;*
margin-left: 5px;
padding-left: 10px;}
#bnav ul {
padding: 0;
margin: 0;
}

#bnav li {
padding-left: 15px;
padding-right:15px;
	line-height: 15px;
	font-size: 10pt;
	}

#bnav li {
	float:left;
	list-style:none;

	}

#bnav a, #bnav a:visited {
	color:#fff;
	text-decoration:none;


	}



/* header */

#marriage {775px;/*724px;*/ height: 221px; background-image: url(../images/marryBG.jpg); background-repeat: repeat-x;}
#logo {float: left; width: 433px; height:221px; }
#signup{padding-top: 10px;}



/* forms */
input {
	
	font-size: 9pt;
}
input.searchbtn {background-color: #B11D2D; border: 1px solid #fff; color: #fff; font-weight: bold;height: 24px;}
input.logbtn {background-color: #B11D2D; border: 1px solid #fff; color: #fff; font-weight: bold;height: 24px;}


.reddish {color: #B11D2D; font-weight: bold;}
/* links */
a:link, a:hover {color: #686868;}
a:hover {color: #686868; text-decoration: none;}
a:link.green, a:hover.green {color: #6B8E00;}
a:link.reddish, a:hover.reddish {color: #B11D2D;}



.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;


/*---Login Part Css End--*/



