<% for column in Adreporttype.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @adreporttype.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @adreporttype %> |
<%= link_to 'Back', :action => 'list' %>
