<h1>Listing pmessages</h1>

<table>
  <tr>
  <% for column in Pmessage.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for pmessage in @pmessages %>
  <tr>
  <% for column in Pmessage.content_columns %>
    <td><%=h pmessage.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => pmessage %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => pmessage %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => pmessage }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @pmessage_pages.current.previous } if @pmessage_pages.current.previous %>
<%= link_to 'Next page', { :page => @pmessage_pages.current.next } if @pmessage_pages.current.next %> 

<br />

<%= link_to 'New pmessage', :action => 'new' %>
