<%= error_messages_for 'tellafriend' %>

<!--[form:tellafriend]-->

<p><label for="tellafriend_sender">Your Email ID</label><br/>
<%= text_field 'tellafriend', 'sender'  %></p>

<p><label for="tellafriend_receiver">Your Friend's Email ID</label><br/>
<%= text_field 'tellafriend', 'receiver'  %></p>

<p><label for="tellafriend_comments">Message</label><br/>
<%= text_field 'tellafriend', 'comments'  %></p>

<!--[eoform:tellafriend]-->

