<h1>Editing ad</h1>

<%= start_form_tag :action => 'update', :id => @ad %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @ad %> |
<%= link_to 'Back', :action => 'list' %>
