
<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

</script>
<% @myage = Date.today.year - @ad.year.name %>
<% if Date.today.month < @ad.month.id  %>
    <% @myage = @myage -1 %>
<% end %>


<div data-role="page" data-dialog="true" data-corners="false" data-close-btn="right" data-shadow="false" data-close-btntext="Close This Dialog" >
  <div data-role="header">
    <h1><%=@ad.title%> <% if @ad.status==0%>-Pending Approval<%end%></h1>

  </div>


  <div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
      <div style="border: 1px solid blue; padding: 2px; background-color:yellow;">
        Profile ID :<b> <%=@ad.member_id.to_s%> </b> <i></i>
        Age <b><%=@myage.to_s%></b>
        <%=@ad.member.sex.name%>
        <%=@ad.propertytype.propertytypename%>
      <br/>

            </div>


              <div style="border: 1px solid red; padding: 2px; background-color:white;">

                <% if @ad.mycity_id != 1%><b><i><%=@ad.mycity.name%></i></b><%else%>
                    <% if @ad.mycity1%><%if @ad.mycity1 > '0'%>
                            <b><i><%=@ad.mycity1%></i></b><%end%><% end %><% end %> <%=@ad.mycountry.name%> <img src="/images/flags/<%=@ad.mycountry.iso2.downcase%>.gif" alt="<%=@ad.mycountry.iso2.downcase%>" title="<%=@ad.mycountry.iso2.downcase%>"/>
                Citizen Of : <%=@ad.citizen.name%> <img src="/images/flags/<%=@ad.citizen.iso2.downcase%>.gif" alt="<%=@ad.citizen.name%>" title="<%=@ad.citizen.name%>"/>

                <%=@ad.maritalstatus.name%><br/>
                Education <%=@ad.degrees%> <%=@ad.educationmajor.name%><br/>

                Current Job Title <%=@ad.occupation%>
                <br/>
                Salary:  <% if @ad.forsal%>
                    <% if @ad.forsal > '0'%>
                        <%= @ad.forsal%>
                    <% else %>
                        <%if @ad.salaryrange_id > 0 %>
                            <%=@ad.salaryrange.name%>
                        <% end %>
                    <% end %>
                <%else%>
                    <%if @ad.salaryrange_id > 0 %>

                        <%=@ad.salaryrange.name%>
                    <% end %>
                <% end %><br/>



              </div>
            </div>

            </div>



  <div data-role="collapsible">
    <h3>Contact Details</h3>
    <% if @okd == 1 %>
    Name:  <%= @myname%>
    Mobile: <%= '+91 ' + @mycode.to_s + '-' + @mynum.to_s%>
        <%=@ctool%>
        <% else %>
    <% if session[:member]  %>
            You must have a valid and approved profile to view contact details!
        <%else%>
            <a href="/mobile/logme">Login to View Contact Details</a>
        <% end %>

    <% end %>



  </div>




           <div data-role="collapsible">
              <h3>Description</h3>
              <%=@ad.description%>
            </div>

  <div data-role="collapsible">
    <h3>Apperance</h3>
    Physical Status : <%=@ad.handicap.name%> <br/>
    <% if @ad.bloodgroup_id != 9 %>
        Blood Group : <%=@ad.bloodgroup.name%>
        <br/>
        <% end %>

    <% if @ad.height.name != 'None Selected'%>
Height : <%=@ad.height.name%><br/>
        <% end %>
    <% if @ad.myweight.name != '.None Selected' %>
    Weight : <%=@ad.myweight.name%><br/>
        <% end %>
    Complexion : <%=@ad.complexion.name%><br/>

    <% if @ad.bodytype.name != 'None Selected'%>
        Body Type : <%=@ad.bodytype.name%><br/>
        <% end %>

        </div>

  <div data-role="collapsible">
    <h3>Religion And Social</h3>
    <% if @ad.poorviham_id != 1%>
  Origin: <%=@ad.poorviham.name%><br/>
<% end %>

    <% if @ad.gothra_id != 5%>
    Gothra: <%=@ad.gothra.name%> <br/>


        <% end %>

    <% if @ad.subsect_id != 5%>
        Subsect: <%=@ad.subsect.name%><br/>
    <% end %>

    <% if @ad.zodiac_id > 1%>
        Zodiac: <%=@ad.zodiac.name%><img src="/images/zodiac/<%=@ad.zodiac.name.downcase[0,3]%>.jpg" alt="<%=@ad.zodiac.name%>" title="<%=@ad.zodiac.name%>"/><br/>

  <% end %>

    <% if @ad.birthstar_id != 5 %>

        Birth Star:<%=@ad.birthstar.name%><br/>
    <% end %>

    <% if @ad.nadhi %>
        <% if @ad.nadhi > '0'%>
            Padam and Nadi <%=@ad.nadhi%><br/>
        <% end%>
        <% end %>


    <% if @ad.sevvai == 1 or @ad.kuja == 1 or @ad.mangla == 1 %>
        Doshas If Any: <% if @ad.sevvai == 1%>
            Sevvai Dosha |
        <% end %>

        <% if @ad.kuja == 1%>
            Kuja Dosha
        <% end %><br/>
    <% end %>

    <% if @ad.mangla == 1%>
        Manglik<br/>
        <% end %>

    <% if @ad.horoscope_id != 1%>
        Horoscope Matching: <%=@ad.horoscope.name%><br/>

    <% end %>

    <% if @ad.sai == 1 or @ad.shirdi == 1%>

    <% end %>
    <% if @ad.sai == 1%>
        Sathya Sai Devotee <img src="/images/icons/sai_big.jpg" alt="Sathya Sai Devotee" title="Sathya Sai Devotee"/>
    <% end %>

    <% if @ad.shirdi == 1%>
        Shirdi Sai Devotee <img src="/images/icons/shirdi.jpg" alt="Shirdi Sai Devotee" title="Shirdi Sai Devotee"/>
    <% end %>
        </div>


  <% if @ad.image1 %>

                <div data-role="collapsible">
                  <h3>Photos</h3>
                  <% @img = @ad.image1.gsub("/home/brahminsmatrimony.com/test/public/ad/image1/",'')  %>
                  <% @img = @img.gsub(@ad.id.to_s+"/",'') %>
                  <img src="http://www.brahminsmatrimony.com/ad/image1/<%=@ad.id.to_s%>/medium/<%=@img%>" />


                </div>

            <% end %>








  <div data-role="collapsible">
    <h3>Family Details</h3>

    <% if @ad.family %>
        <% if @ad.family > '0' %>
            Family Background :
            <%=@ad.family%><br/>

        <% end %>
    <% end %>

    <% if @ad.ancestral %>
        <% if @ad.ancestral > '0' %>

            Ancestral Origin (Poorviham): <%=@ad.ancestral%><br/>

        <% end %>
    <% end %>

    Family Values:     <%=@ad.familyvalue.name%><br/>

    <%if @ad.familystatus.name != '.None Selected'%>

        Family Status: <%=@ad.familystatus.name%><br/>

    <% end %>

    <% if @ad.fathocc %>
        <% if @ad.fathocc > '0' %>
            Father's Profession: <%=@ad.fathocc%><br/>

        <% end %>
    <% end %>


    <% if @ad.mothocc %>
        <% if @ad.mothocc > '0' %>
            Mother's Occupation: <%=@ad.mothocc%><br/>
        <% end %>
    <% end %>



    <%  if @ad.siblings %>
        <% if @ad.siblings > 0 %>

            Siblings: <%=@ad.siblings.to_s%><br/>

        <% end %>
    <% end %>
    <% if @ad.marrbro  and  @ad.unmarrbro %>
        <% if @ad.marrbro > 0 or @ad.unmarrbro > 0 %>
            Brothers:
            <% if @ad.marrbro > 0 %>Married : <%=@ad.marrbro.to_s%>&nbsp;<% end %>&nbsp;<% if @ad.unmarrbro > 0 %>UnMarried : <%=@ad.unmarrbro.to_s%><%end %><br/>

        <% end %>
    <% end %>


    <% if @ad.marrsis and  @ad.unmarrsis  %>
        <% if @ad.marrsis > 0 or @ad.unmarrsis > 0 %>
            Sisters:
            <% if @ad.marrsis > 0 %>Married : <%=@ad.marrsis.to_s%>&nbsp;<% end %>&nbsp;<% if @ad.unmarrsis > 0 %>UnMarried : <%=@ad.unmarrsis.to_s%><%end %><br/>

        <% end %>
    <% end %>

    <% if @ad.language.name != 'Not Selected'%>
        Mother Tongue: <%=@ad.language.name%><br/>

    <% end %>

    <% if @ad.lang%>
        <% if @ad.lang > '0'%>

            Known Languages: <%=@ad.lang%><br/>

        <% end %>
    <% end %>


    </div>

  <div data-role="collapsible">
    <h3>Life Style</h3>
    <% if @ad.hobbies%>
        <% if @ad.hobbies > '0'%>

            Hobbies and Interests:       <%=@ad.hobbies%> <br/>

        <% end %>
    <% end %>


    <% if @ad.dress%>
        <% if @ad.dress > '0'%>

            Preferred Dress Style:  <%=@ad.dress%> <br/>

        <% end %>
    <% end %>



    <% if @ad.music%>
        <% if @ad.music > '0'%>

            Favorite Music:          <%=@ad.music%> <br/>

        <% end %>
    <% end %>

    <% if @ad.reads%>
        <% if @ad.reads > '0'%>

            Books I Like:         <%=@ad.reads%> <br/>

        <% end %>
    <% end %>

    <% if @ad.movies%>
        <% if @ad.movies > '0'%>

            Favorite Movies:
            <%=@ad.movies%><br/>

        <% end %>
    <% end %>

    <% if @ad.sports%>
        <% if @ad.sports > '0'%>

            Fitness and Sports Activity:
            <%=@ad.sports%><br/>

        <% end %>
    <% end %>

    <% if @ad.food%>
        <% if @ad.food > '0'%>

            Favorite Cuisine:
            <%=@ad.food%><br/>

        <% end %>
    <% end %>





    <% if @ad.vegeterian == 1 or @ad.teetotaler == 1 or @ad.dontsmoke == 1 %>

        Habits:

        <% if @ad.vegeterian == 1 %>
            <img src="/images/icons/veg32.jpg"  alt="Vegetarian" title="Vegetarian"/> Vegetarian |
        <% end %>
        <% if @ad.teetotaler == 1 %>
            <img src="/images/icons/dontdrink16.jpg"  alt="teetotaler" title="teetotaler"/>
            Don't Drink |<% end %>
        <% if @ad.dontsmoke == 1 %>
            <img src="/images/icons/dontsmoke16.jpg"  alt="Non Smoker" title="Non Smoker"/>
            Non Smoker |
        <% end %>



    <% end %>
    </div>

  <div data-role="collapsible">
    <h3>What I am Looking For </h3>
    Age Range:
    <%=@ad.agerange1.age%>-<%=@ad.agerange2.age%><br/>


    Job Type:
    <%=@ad.lookingjobtype.gsub(/,/, ', ')%><br/>


    Brahmin Type:
    <% if @ad.nobar == 1%>Any Caste is OK
        <%else%><%=@ad.lookingbrahmintype.gsub(/,/, ', ')%>
    <% end %>



    Origin:
    <%=@ad.lookingorigin.gsub(/,/, ', ')%><br/>


    Subsects:
    <%=@ad.lookingsubsect.gsub(/,/, ', ')%><br/>



    Complexion:
    <%=@ad.lookingcomplexion.gsub(/,/, ', ')%><br/>


    Height:
    <%=@ad.lookingheight.name%><br/>

    <% if @ad.lookingbodytype_id%>
        <% if @ad.lookingbodytype_id > 0 %>

            Body Type:
            <%=@ad.lookingbodytype.name%><br/>

        <% end %>
    <% end %>
<br/>
    <i></i><%=@ad.partnerdescription%></i>


  </div>




  <p><a class="ui-btn ui-icon-back ui-btn-icon-left" data-rel="back" data-theme="b">Back To List</a></p>

        </div>
