<script type="text/javascript">

    /*
     Initialize the navbar and toolbars
     */

    $(function() {
        $( "[data-role='navbar']" ).navbar();
        $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });

</script>

<div data-role="header"   >
  <a href="/mobile/myhome" data-ajax="false" data-theme="d" data-icon="home">Flash Page</a>
  </div>
<div data-role="page" id="home" data-title="BrahminsMatrimony.com">
<div role="main" class="ui-content">
  <div style="text-align: center;">
    <img src="http://www.brahminsmatrimony.com/images/logo1.gif" alt="Logo"><br/>
    Welcome <% if session[:member] %> <%=session[:myname] %> <% end %> </h1>

  </div>
  <a href="/mobile/msearch" data-ajax="false" class="ui-btn ui-btn-e ui-corner-all ui-shadow ui-icon-search ui-btn-icon-left"  data-theme="b">Search By Profile ID or Keyword</a>
   <a href="/mobile/showadagebrowse" data-ajax="false" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left"  data-theme="b">Browse Profiles</a>
  <% if !session[:member] %>
      <a href="/mobile/membernew" data-ajax="false" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"  data-theme="c">Free Signup!</a>
      <a href="/mobile/logme" data-ajax="false" class="ui-btn ui-btn-f ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"  data-theme="c">Logon/Sign In</a>
<% else %>
      <a href="/muser/editcompany" data-ajax="false" class="ui-btn ui-btn-f ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"  data-theme="c">Edit My Profile</a>
      <a href="/muser/logout" data-ajax="false" class="ui-btn ui-btn-d ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"  data-theme="c">Logout</a>
  <% end %>

</div>

<div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
            <li><a href="mailto:support@brahminsmatrimony.com?subject=Mobile%20Suport&body=BrahminsMatrimony%20Mobile">Contact Us</a></li>
      </ul>
    </div>
  </div>
<div id="status">
</div>
