<% @myage = Date.today.year - @myad.year.name %>
 <% @link = url_for(:action => 'adshow', :id => @myad.id, :boygirl => @myad.adtype.url, :brahmintype => @myad.brahmintype, :addescr => @myad.myurl) %>
 <table border="0" width="100%" ><tr><td width="70">
 	  <% if @myad.image1%>
 	   <a href="<%=@link%>"><%= image_tag url_for_file_column("myad", "image1", "homepage") %></a>
	 
	  <% else %>
	 
	 	 <% if @myad.member.sex_id == 1%>
	  <% @myimg = '/images/id_img/woman.jpg'%> 
	 <% else%>
	 <% @myimg = '/images/id_img/man.jpg'%> 
	 <% end %>
	 <% end %>
	  <% if @myad.image1%>
	  <% else %><a href="<%=@link%>"><img src="<%=@myimg%>" width="60" height="60" alt="<%=@myad.title%>" title="<%=@myad.title%>" class="imgborder" /></a>
	  <% end %></td><td>
	<span class="reddish">ID :</span> <%=@myad.member_id.to_s%><br />
	<i> <% if @myad.propertytype.propertytypename  =='Telugu_Brahmin_Tamil_Nadu_Based' %>
		Telugu_Brahmin <% else %>
		<%=@myad.propertytype.propertytypename%> <% end %> </i>
	<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
	<% @myc = Mycountry.find(:first, :conditions => 'id = ' + @myad.propertytype_id.to_s)%>
	<% if @myc %>
	<img src="/images/flags/<%=@myc.iso2.downcase%>.gif" alt="<%=@myc.iso2.downcase%>" title="<%=@myc.iso2.downcase%>"/>
	<% end %>
	<% end %>
	<br />
	<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
	<span class="reddish"><% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>Type
		<%else%>Status<%end%>:</span><%=@myad.adcity.adcityname%><br />
	<% else%>
	<span class="reddish"></span><%=@myad.adcity.adcityname%><br />
	<% end %>
	
	<span class="reddish">Age:</span> <%=@myage.to_s%><br />
	<a href="<%=@link%>" class="green">View Profile</a>
	<br/><br/>
</td></tr></table>