<script type="text/javascript"><!--
var state0Array = new Array("State");
var city0Array = new Array("City");
<% @mycityvar = " " %>
<% @mycountryoptions = '<option value="-101" selected="selected">country</option>' %>
<% @nocountries = 0 %>
<% @nostates = 0 %>
<% @mystatelists = "state0Array" %>
<% @mycitylists = "city0Array" %>
<% @mycountries = Jbcountry.find(:all, :order => " relative_order asc, name asc") %>
<% for @mycountry in @mycountries %>
<% @mycount = Jbstate.count(:conditions => "jbcountry_id = "+@mycountry.id.to_s) %>
<% if @mycount > 0 %>
<% @mycountryoptions = @mycountryoptions + '<option value="'+ @mycountry.id.to_s + '">'+@mycountry.name+'</option>' %>
<% @nocountries = @nocountries + 1 %>
<% if @mystatelists %>
<% @mystatelists = @mystatelists  + "," + "state"+@mycountry.id.to_s+"Array" %>
<% else %>
<% @mystatelists = "state"+@mycountry.id.to_s+"Array"  %>
<% end %>
var state<%=@mycountry.id.to_s%>Array = new Array("State" 
<% @mystates = Jbstate.find(:all, :conditions => "jbcountry_id = "+@mycountry.id.to_s, :order => "name asc") %>
<% for @mystate in @mystates %>
<% @citcount = Adcity.count(:conditions => "jbstate_id = " +@mystate.id.to_s)%>
<% if @citcount > 0 %>
,"<%=@mystate.name%>"
<% @nostates = @nostates + 1 %>
   <% @mycityvar = @mycityvar +  'var city'+@mystate.id.to_s+'Array = new Array("City"'%>
   <% @mycitylists = @mycitylists  + "," + "city"+@mystate.id.to_s+"Array"  %>
   <% @mycities = Adcity.find(:all, "conditions => jbstate_id ="+@mystate.id.to_s, :order => "adcityname asc")%>
<% end %>
<% end %>
);
<% end %>
<% end %>


<% for @mycountry in @mycountries %>
<% @mycount = Jbstate.count(:conditions => "jbcountry_id = "+@mycountry.id.to_s) %>
<% if @mycount > 0 %>
<% @mystates = Jbstate.find(:all, :conditions => "jbcountry_id = "+@mycountry.id.to_s, :order => "name asc") %>
<% for @mystate in @mystates %>
<% @citcount = Adcity.count(:conditions => "jbstate_id = " +@mystate.id.to_s)%>
<% if @citcount > 0 %>
var city<%=@mystate.id.to_s%>Array = new Array("City" 
   <% @mycities = Adcity.find(:all, :conditions => "jbstate_id = "+@mystate.id.to_s, :order => "adcityname asc")%>
   <% for @mycity in @mycities %>
,"<%=@mycity.adcityname%>"
   <% end %>
);

<% end %>
<% end %>
<% end %>
<% end %>



var  country_state_childLists  = new Array(<%=@mystatelists%>);
var  country_state_childListsDefault  = new Array(0<% for i in  1..@nocountries  %>,0<% end %>);
var  state_city_childLists  = new Array(<%=@mycitylists%>);
var  state_city_childListsDefault  = new Array(0<% for i in  1..@nostates  %>,0<% end %>);

function man_country_state_setListeners(){  
       document.getElementById('quickSearch').country.onchange=update_country_state;
       document.getElementById('quickSearch').state.onchange=update_state_city;
       update_country_state();
       update_state_city();

       
   }


function man_state_city_setListeners(){  
       document.getElementById('quickSearch').state.onchange=update_state_city;
       update_state_city();
       
   }


   function man_dol_updateModel(parentSelect, childSelect,  childLists,
                                                         childListsDefault){
     var indexParent=  parentSelect.selectedIndex;
	 
	 // Default selected item in the child selection list.
	 // The selected item when the list is displayed.
	 var  defaultIndex = childListsDefault[indexParent];	 
	 
	 // Reset child selection list
	 childSelect.options.length =0;
	 
	 //alert("parent index = " + indexParent + ",  defaultIndex =" + defaultIndex);
	 
	 
	 // The child selection list correspond to the parent list.	 	 
	 var childList = childLists[indexParent];
	 
	 // Build the child selection list
	 for(var i = 0; i < childList.length; i++) {
	     //alert(childList[i]);
             childSelect.options[childSelect.options.length] 
                                                     = new Option(childList[i], i);
         }
         childSelect.options[defaultIndex].selected=true;
	 	
  }
  

      
  function update_country_state(){
     man_dol_updateModel(document.getElementById('quickSearch').country, document.getElementById('quickSearch').state,
                country_state_childLists, country_state_childListsDefault);  
     man_dol_updateModel(document.getElementById('quickSearch').state, document.getElementById('quickSearch').city,
                state_city_childLists, state_city_childListsDefault);  

  }

      
  function update_state_city(){
     man_dol_updateModel(document.getElementById('quickSearch').state, document.getElementById('quickSearch').city,
                state_city_childLists, state_city_childListsDefault);  
  }


// --></script>

                <form method="post" action="/Home,quickSearch.direct" id="quickSearch">

<select name="country" id="country" class="default" onchange="man_country_state_setListeners();man_state_city_setListeners()">
<%=@mycountryoptions%>
</select>



                                <select name="state" class="default" onchange="man_state_city_setListeners()" ><option> state </option></select>
                                <select name="city" class="default" ><option>city</option></select>

</form>

