<% if controller.action_name != 'adshow' %>
<br/><br/>
<table border=1><tr><td><center>
<a href="http://find1001.MOVIES01.hop.clickbank.net" target="_blank"><h2>Download Unlimited Movies, TV Shows and Games</h2></a></center>
</tr></td></table>
<% end %>