<title><%=@mytitle ? @mytitle : Sitestuff::MYTITLE%></title>
<meta name="description" content="<%=@mymetadesc ? strip_tags(@mymetadesc).gsub(/&lt;p&gt;/,'').gsub(/&amp;/,'').gsub(/>/,'').gsub(/</,'').gsub(/nbsp;/,'') : Sitestuff::MYTITLE%>" />
<meta name="keywords" content="<%=@mymetakey ? @mymetakey : Sitestuff::MYKEYWORDS%>"/>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20498753-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

