<% if controller.action_name == 'adshow' %>
	
<% @alttext = @ad.title + ' ' + @ad.propertytype.propertytypename +  ' ' + @ad.adtype.url %>
<% else %>
<% @alttext = Sitestuff::MYSINGLEKEY  +  " Only Matrimony - Marriage and matrimony" %>
<% end %>


<table width="916" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="617" align="left" valign="top"><a href="/"><img src="/images/logo1.png" alt="<%=@alttext%>" title="<%=@alttext%>" border="0" /></a></td>
    <td width="299" align="left" valign="bottom">
	<div class="searchdiv">
		 <%=form_tag({:controller => 'rents101', :action=>'ferrsearch'}, :multipart => true)%>
	<table border="0" cellspacing="0" cellpadding="0">
      <tr>
     
              <td width="35" align="center"><img src="/images/bullet.gif" alt="" width="19" height="18" /></td>
        <td width="53"><b>Search</b></td>
        <td><img src="/images/input-left.gif" alt="" width="7" height="19" /></td>
        <td><input name="typed_search" type="text" class="searchinput" size="22"/></td>
        
        <td>
      <%= image_submit_tag("/images/search-button.gif")%></td></tr>
    </table>
    </form>
	</div>
	</td>
  </tr>
  <tr>
    <td align="left" valign="top" id="toplink"><div class="toplinkdiv"><a href="/">Home</a><img src="/images/spacer.gif" alt="" width="10" height="4" /> | <img src="/images/spacer.gif" alt="" width="10" height="4" /><a href="/mysearch">Search Profiles</a><img src="/images/spacer.gif" alt="" width="10" height="4" /> | <img src="/images/spacer.gif" alt="" width="10" height="4" /><a href="/agebrowse/all/all/all/all">Browse Profiles</a><img src="/images/spacer.gif" alt="" width="10" height="4" /> | <img src="/images/spacer.gif" alt="" width="10" height="4" /><a href="/marketbrowse/all/all/all/all">Market Place</a><img src="/images/spacer.gif" alt="" width="10" height="4" /> | <img src="/images/spacer.gif" alt="" width="10" height="4" />
    	<% if session[:member]%>
    	<a href="/controlpanel">My Account</a>
    	<% else %>
    	<a href="/register">Register For Free!</a>
    	<% end %>
    	</div></td>
    <td align="left" valign="top"><img src="/images/h1.gif" alt="" width="299" height="62" /></td>
  </tr>
</table>
