<% for @mycomment in @mycomments %>
<% @mycomment.commentable_id.to_s%> | 
<%=h  @mycomment.title%> | 
<%= h @mycomment.comment%> |
<%=link_to "Approve", :controller => 'superuser', :action => 'commentapprove', :id => @mycomment %>
<%= link_to 'Delete', { :controller => 'superuser', :action => 'commentdestroy', :id => @mycomment, :boxid => 'inbox' }, :confirm => 'Are you sure?', :post => true %>
<br/>
<% end %>