		<div id="example" class="post">
			<h2 class="title"><span>My ads</span></h2>
			<div class="story">
<% for ad in @ads %>
<table border="0" width="60%" id="table1">
<tr>
<td><%= h ad.adtype.adtypename %> <%= h ad.propertytype.propertytypename %> in <%= h ad.adcity.adcityname %> 
</td>
<td><b><%=link_to ad.title, :action => 'adedit', :id => ad %></b></td>
<% if ad.status == 0 %>
<td> [Pending] </td>
<% end %>
<td>Price: <b>S$ <%=ad.property_price%></b> <%=ad.created_on.strftime("%d-%m-%Y") %></td>
<td><%= link_to 'Delete', { :action => 'addestroy', :id => ad }, :confirm => 'Do you really want to delete?', :post => true %></td>
</tr>
</table>
<hr>
<% end %>


<%= link_to 'Previous page', { :page => @ad_pages.current.previous } if @ad_pages.current.previous %>
<%= link_to 'Next page', { :page => @ad_pages.current.next } if @ad_pages.current.next %> 

<br />
</div>
</div>


