                  <h2><img src="/images/new_mail_48.gif"/>New Private Message</h2>
           

			   
	<table>
 		<tr>
					          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Please do not include any other competing website names in the message - it will be deleted. Only refer <%=Sitestuff::MYDOMAIN%> in the message - Thank you! </strong> </div></td>
				        </tr></table>
				        <br/>
				        <br/>
				        
	<%=form_tag({:controller => 'userfunctions', :id => params[:ad_id], :action=>'pmcreate'},  :multipart => true)%>
  <%= render :partial => 'pmform' %>
  <%= submit_tag "Submit" %>
</form>







