   <h3>Google Like Search</h3>
   

			   <table width="100%"  border="1" bordercolor="#CFE4FA" cellspacing="0" cellpadding="5">
                  
                
                      <tr>
                        <td height="25" colspan="2" align="left"><strong>Just type keywords with + like google - Example 
                        	<% if Sitestuff::MYDOMAIN == 'MarryaSunni.com'%>
                        	pakistani + london
                        	<% else %>
                        	"iyer+tcs"
                        	<% end %> and hit enter  </strong> </td>
                        </tr>
        <tr><td>
        
	<table border="0" cellspacing="0" cellpadding="0">
      <tr>
      <%=form_tag({:controller => 'rents101', :action=>'ferrsearch'}, :multipart => true)%>
              <td width="35" align="center"><img src="/images/bullet.gif" alt="" width="19" height="18" /></td>
        <td width="53"><b>Search</b></td>
        <td><img src="/images/input-left.gif" alt="" width="7" height="19" /></td>
        <td><input name="typed_search" type="text"  size="50"/></td>
        
        <td><%= image_submit_tag("/images/search-button.gif")%></td></form>
      </tr>
    </table>

        
        
        </td></tr>
   
    </table><br/>
                  <h2 class="dot">Advanced Search (Profile Agent - Automatic Email Alerts)</h2>
                <br />
             
              

			   <table width="100%"  border="1" bordercolor="#CFE4FA" cellspacing="0" cellpadding="3">
                  
               
  
                   
                   <%=form_tag({:controller => 'rents101', :action=>'advsearchcreate'}, :multipart => true)%>
  <%= render :partial => 'advsearchform' %>
 
  
  



</form>

                   
                  
        
   
                    </table>
                    
                    <br>
                    <h2 class="dot">Top 20 Popular Searches</h2>
                    <% @mytcount = 1%>
                    <% @myts = Topsearch.find(:all,  :order => ' mycount desc')%>
                    <% for @myt in @myts %>
                    <a href="/tags/<%=@myt.mydesc%>"> <%=@myt.mydesc%> </a>
                    <br/>
                    <% @mytcount = @mytcount + 1%>
                    <% break if @mytcount > 20 %>
                    <% end %>
                    
                    
                    
            