    <h2>Contac Us</h2>


 
<div id="craftysyntax_3"><script type="text/javascript" src="http://cruxacademy.com/livehelp/livehelp_js.php?eo=0&amp;department=3&amp;serversession=1&amp;pingtimes=10&amp;dynamic=Y&amp;creditline=W"></script></div>
 
<br/>
<br/>


			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                 <tr>
                        
              <td class="brmiddle"> <div class="loginlh">
 

Email: support@<%=Sitestuff::MYDOMAIN%><br/>
<% @myp = Myparam.find(:first, :conditions => 'id="contact"')%>
<%=@myp.desc%>
	
  
  
              </div>

</td>
        </tr>
<tr><td><h3>Sales Contact </h3><img src="/icons/raghavan.jpg" alt="sales contact"/> </td></tr>
      </table>


 
 


