 <script type="text/javascript">
    
    /*
      Initialize the navbar and toolbars
    */
    
    $(function() {
      $( "[data-role='navbar']" ).navbar();
      $( "[data-role='header'], [data-role='footer']" ).toolbar();
    });
    
 </script>


<div data-role="page" id="mvalidate" data-dialog="true" data-close-btn="right" data-title="Validate">
  <div data-role="header">
    <h1>Error! </h1>
  </div>
<div role="main" class="ui-content">

  <% if @errmsg %>
  <%=@errmsg%>
      <%else%>
<h2>Unknown error; please contact Support! Sorry about that</h2>
  <% end %>

</div>


</div>



