
<h2>Search Results for <%=@query%></h2>
                      <br />

                    

                          	
                        
                            
                        <% for ad in @ads %>
                         <% @myad = Ad.find_by_id(ad[:id])%>
<% if @myad %>
<table width="100%"  cellpadding="5" cellspacing="0" style="border: 2px solid #CFE4FA;"> 
<%= render :partial => 'singlead' %>
</table>
                      <br/>
                      <% end %>
						<% end %>                            
						
      
                            
                         

                         
                   <%= link_to 'Previous page', { :page => @pages.current.previous, :typed_search => @query} if @pages.current.previous %>
<%= pagination_links(@pages, :params => { :typed_search=> @query }) %>
<%= link_to 'Next page', { :page => @pages.current.next, :typed_search => @query} if @pages.current.next %>
