<% cache(:action => 'faq', :part => 'hourpayinfo') do %>                      
     
                  <h2 class="dot">Rate Card</h2><br/>
                  
                  
  <table  border=1 width="100%" cellspacing="5" cellpadding="10" bordercolor="#3C74E6"> 
<tr> 
          <td bgcolor="#fcf83f"><b>Features</b></td> 
          <td bgcolor="#fcf83f"><b>Free</b></td> 
          <td bgcolor="#fcf83f"><b>Bronze Package</b></td> 
          <td bgcolor="#fcf83f"><b>Silver Package</b></td> 
          <td bgcolor="#fcf83f"><b>Gold Package-Recommended</b><br/><img src="/images/icons/like2.png" alt="Recommended" title="recommended"/></td>
          
        </tr> 

<tr> 
          <td>Validity Period</td> 
           <td>7 Days</td> 
            <td>3 Months</td> 
             <td>6 Months</td> 
              <td>1 Year</td> 
              
               
        </tr>             


<tr> 
          <td>Express Interest</td> 
           <td><image src="/images/icons/okpic.jpg"/></td> 
            <td><image src="/images/icons/okpic.jpg"/></td> 
             <td><image src="/images/icons/okpic.jpg"/></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>    
        
        

<tr> 
          <td>View Contact Details</td> 
           <td></td> 
            <td>Unlimited Contacts</td>
             <td>Unlimited Contacts</td>
              <td>Unlimited Contacts</td>
              
               
        </tr>            
                

<tr> 
          <td>Send and Receive Private Messages</td> 
           <td></td> 
            <td><image src="/images/icons/okpic.jpg"/></td> 
             <td><image src="/images/icons/okpic.jpg"/></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>               
        
<tr> 
          <td>Priority Cstomer Support</td> 
           <td></td> 
            <td></td> 
             <td></td> 
              <td><image src="/images/icons/okpic.jpg"/></td> 
              
               
        </tr>     

<tr> 
          <td>Fee</td> 
           <td></td> 
            <td>Rs. 1000</td>
             <td>Rs. 1800</td>
              <td>Rs. 3200</td>
              
               
        </tr>                      
        
</table>                        
                  
                  
          
<br/>


<!-- CSS BOX START -->

<div class="box-container">
<div class="box-header">
<div class="box-left"></div>
<div class="box-mid"><h5>Payment Options</h5></div>
<div class="box-right"></div>
</div>
<div class="box-content">
	
<table  border=1 width="100%" cellspacing="5" cellpadding="10" bordercolor="#3C74E6">
<tr><td>Use Paypal Online</td><td>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="CTCB53AFA4G6C">
    <table>
      <tr><td><input type="hidden" name="on0" value="Subscription Options">Subscription Options</td></tr><tr><td><select name="os0">
      <option value="Gold">Gold $58.00 USD</option>
      <option value="Silver">Silver $32.00 USD</option>
      <option value="Bronze">Bronze $18.00 USD</option>
    </select> </td></tr>
      <tr><td><input type="hidden" name="on1" value="Enter Your Profile ID">Enter Your Profile ID</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>



</td>	
	  <tr><td>
        Google Checkout
	  </td><td><form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/735552902585252" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
        <table cellpadding="5" cellspacing="0" width="1%">
          <tr>
            <td align="right" width="1%">
              <select name="item_selection_1">
                <option value="1">$58.00 - Gold Package</option>
                <option value="2">$32.00 - Silver Package</option>
                <option value="3">$18.00 - Bronze Package</option>
              </select>
              <input name="item_option_name_1" type="hidden" value="Gold Package"/>
              <input name="item_option_price_1" type="hidden" value="58.0"/>
              <input name="item_option_description_1" type="hidden" value="Gold Package"/>
              <input name="item_option_quantity_1" type="hidden" value="1"/>
              <input name="item_option_currency_1" type="hidden" value="USD"/>
              <input name="item_option_name_2" type="hidden" value="Silver Package"/>
              <input name="item_option_price_2" type="hidden" value="32.0"/>
              <input name="item_option_description_2" type="hidden" value="Silver Package"/>
              <input name="item_option_quantity_2" type="hidden" value="1"/>
              <input name="item_option_currency_2" type="hidden" value="USD"/>
              <input name="item_option_name_3" type="hidden" value="Bronze Package"/>
              <input name="item_option_price_3" type="hidden" value="18.0"/>
              <input name="item_option_description_3" type="hidden" value="Bronze Package"/>
              <input name="item_option_quantity_3" type="hidden" value="1"/>
              <input name="item_option_currency_3" type="hidden" value="USD"/>
            </td>
            <td align="left" width="1%">
              <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=735552902585252&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
            </td>
          </tr>
        </table>
      </form>
      </td></tr>
<tr><td>Net Banking</td><td>ICICI bank  A/c No. ANWB 606905014061 Account Holder Name: Harini I.T. & communication ser pvt ltd (P) Ltd, Karaikudi Main Branch 630 001 - When you pay make sure you mention your profile ID or send an email to us with your profile ID and transaction details<br /> <br /> <b>City Union Bank</b>
A/c Name: HARINI  IT  &  COMMUNICATION SERVICES P LTD.

A/c Number: 91819

Nature of A/c.  Current Account
Bank :  City Union Bank Ltd
State :   Tamil Nadu
District :  Sivaganga
Branch :   Karaikudi
IFSC Code :   CIUB0000050 (5th character is zero)
Branch Code :   000050 (Last 6 Characters of the IFSC Code)
City :    Karaikudi

</td></tr>

<tr><td>Check of DD or Money Order</td><td>
	Send a Check/DD/Money Order/Western Union Money Transfer in favor of M/s Harini IT and Communication Services (P) Ltd , Payable at Karaikudi and send it with the profile or profile ID to<br/>
M/s Harini IT and Communication Services (P) Ltd, "Sri Sai Bhavanam",32, South First Cross,Sekkalai First Street, , Karaikudi 630 002, Tamil Nadu. Phone (04565) 234496
</td></tr>
<tr><td>Door to Door Service</td><td>Door to Door Service (Additional Charge of Rs 100)<a href="/contactus.html">Click here to get the list of our Agents in various cities
</td></tr>
	
	</table>	
	
</div>
</div>

<!-- CSS BOX END -->        
                  
                  
                  
<% end %>                  
