<div data-role="page" id="home" data-title="BrahminsMatrimony.com">
  <div role="main" class="ui-content">
    <div style="text-align: center;">
      <img src="http://www.brahminsmatrimony.com/images/logo1.gif" alt="Logo"><br/>
      Welcome <% if session[:member] %> <%=session[:myname] %> <% end %> </h1>

    </div>
    <a href="/rents101/myhome" data-ajax="false" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left"  data-theme="d">Click Here to Continue</a>


  </div>


  <div id="top-nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">

          </ul>
          <ul class="nav pull-left">

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="title">
    <div class="container">
      <div class="row">
        <div class="span12">

        </div>
      </div>
    </div>
  </div>

  <div id="demo">
    <div class="container">
      <div class="row">
        <div class="span12">

          <div id="owl-demo" class="owl-carousel">

            <% for @myad in @ads %>

                <% if @myad.image1 %>

                    <% @img = @myad.image1.gsub("/home/brahminsmatrimony.com/test/public/ad/image1/",'')  %>
                    <% @img = @img.gsub(@myad.id.to_s+"/",'') %>
                    <div class="item"><%=@myad.member_id.to_s%><img src="http://www.brahminsmatrimony.com/ad/image1/<%=@myad.id.to_s%>/medium/<%=@img%>" ></div>

                <% end %>

                <% end %>

          </div>

        </div>
      </div>
    </div>

  </div>










  <script src="/owl/assets/js/jquery-1.9.1.min.js"></script>
  <script src="/owl/owl-carousel/owl.carousel.js"></script>


  <!-- Demo -->

  <style>
      #owl-demo .item{
          margin: 3px;
      }
      #owl-demo .item img{
          display: block;
          width: 100%;
          height: auto;
      }
  </style>


  <script>
      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              autoPlay: 3000,
              items : 1,
              itemsDesktop : [979,3],
              itemsDesktopSmall : [979,3]
          });

      });
  </script>

  <script src="/owl/assets/js/bootstrap-collapse.js"></script>
  <script src="/owl/assets/js/bootstrap-transition.js"></script>
  <script src="/owl/assets/js/bootstrap-tab.js"></script>

  <script src="/owl/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/owl/assets/js/application.js"></script>

</div>



