<table><tr><td><a href="http://www.rentinsingapore.com"><img src="http://www.rentinsingapore.com/images/rentinsingapore-g.gif" /></a></td><td><fb:share-button class="url" href="http://apps.facebook.com/rentinsingapore" /></td><td><a href="http://www.rentinsingapore.com/mapview">View Properties using Google Maps</a></td>
</tr></table>
<h2>Rent HDB Flats, Rooms and Condos, Google Maps Mashup in Singapore - RentInSingapore.com</h2>
<fb:tabs> 
<fb:tab_item 
href="http://apps.facebook.com/rentinsingapore/all" 
title="All Properties">All Properties</fb:tab_item>
  <fb:tab_item 
href="http://apps.facebook.com/rentinsingapore/hdb" 
title="HDB Units">HDB Units</fb:tab_item>
  <fb:tab_item 
href="http://apps.facebook.com/rentinsingapore/condo" 
title="Private Condos">Private Condos</fb:tab_item>
  <fb:tab_item 
href="http://apps.facebook.com/rentinsingapore/common" 
title="Common Rooms">Common Rooms</fb:tab_item>
  <fb:tab_item 
href="http://apps.facebook.com/rentinsingapore/master" 
title="Master Rooms">Master Rooms</fb:tab_item>

</fb:tabs>
<%= render :partial => 'fbinclude/fbhotads' %>

