<h1>Listing membertests</h1>

<table>
  <tr>
  <% for column in Membertest.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for membertest in @membertests %>
  <tr>
  <% for column in Membertest.content_columns %>
    <td><%=h membertest.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => membertest %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => membertest %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => membertest }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @membertest_pages.current.previous } if @membertest_pages.current.previous %>
<%= link_to 'Next page', { :page => @membertest_pages.current.next } if @membertest_pages.current.next %> 

<br />

<%= link_to 'New membertest', :action => 'new' %>
