<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= render :partial => 'menu/title' %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/stylesheets/jobstyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/javascripts/prototype.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<script type="text/javascript" src="/javascripts/effects.js"></script>
<script type="text/javascript" src="/javascripts/controls.js"></script>
<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
<% if controller.action_name != 'home' %>
<link href="/stylesheets/star_rating.css" rel="stylesheet" type="text/css" />
<% end %>

<% if controller.action_name == 'mytest' or controller.action_name == 'newjob' or controller.action_name == 'jobedit'  or controller.action_name == 'testsearch' or controller.action_name == 'editcompany' or  controller.action_name ==  'advsearchnew'  %>
<script type="text/javascript" src="/javascripts/cityselection.js"></script>
<% end %>

<STYLE>

<% if controller.action_name == 'home'   %>
#toplink { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#ADCEEE;
background-image:url(/images/top-link-back.gif);
height:62px;
line-height:16px;
background-repeat:no-repeat;
} 
<% else %>
#toplink { 
font-family:'Lucida Sans Unicode';
font-size:12px;
text-decoration:none;
font-weight:normal;
color:#ADCEEE;
background-image:url(/images/blank_top.gif);
height:62px;
line-height:16px;
background-repeat:no-repeat;}

<% end %>
</STYLE>

</head>
<body  <% if  controller.action_name ==  'advsearchnew' or controller.action_name == 'jobedit' or controller.action_name == 'testsearch' or controller.action_name == 'editcompany' or controller.action_name == 'mytest' or controller.action_name == 'newjob' or controller.action_name == 'jobcreate' %> onload="loadValues();" <% end %> <% if controller.action_name == 'signin_form' %> onload="setFocusFirstField();" <% end %>   >
<%= render :partial => 'menu/top' %>
<%= render :partial => 'menu/body' %>
<%= render :partial => 'menu/bottom' %>

<!-- AddThis Feed Button END -->
    <a href="http://validator.w3.org/check?uri=referer">Validate</a></center>

</body>
</html>
