      <%= javascript_include_tag :fckeditor %>
    <h2 >Create or Edit Your Marketplace Ad </h2>
    



	
        
    
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
       
    
<% if !session[:member] and controller.action_name == 'newad'  %>
	
	
	  <tr>
                        <td height="25"><font class="redtext">*</font> Enter Your Email :- </td>
                        <td height="25"> <%= text_field 'mad', 'email'  %></td>
                    </tr> 	

	
	
	<% end %>
	                    	
                    	  <tr>
                        <td height="25"><font class="redtext">*</font> Available or Wanted :- </td>
                        <td height="25"><%= select("mad","mtype_id", Mtype.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 

 <tr>
                        <td height="25"><font class="redtext">*</font> Category :- </td>
                        <td height="25"><%= select("mad","mcat_id", Mcat.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
                    
                     <tr>
                        <td height="25"><font class="redtext">*</font> Location :- </td>
                        <td height="25"><%= select("mad","mlocation_id", Mlocation.find(:all, :order => "name").collect { |s1| [s1.name, s1.id]} )%></td>
                    </tr> 
               
                    
                        		   	  <tr>
                        <td height="25"><font class="redtext"></font> Short Description :- </td>
                        <td height="25"><%= text_field 'mad', 'shortdesc'  %></td>
                    </tr> 
                        
                        		   	  <tr>
                        <td height="25"><font class="redtext"></font> Phone and Contact info, address:- </td>
                        <td height="25"><%= text_area 'mad', 'phone', "size" => '40x4'    %></td>
                    </tr> 
                    
                             	   	
			   	  <tr>
                        <td height="25"><font class="redtext"></font> Website :- </td>
                        <td height="25">http://<%= text_field 'mad', 'website'  %></td>
                    </tr> 
                    
                        
                         
                    
                                           <tr>
                        <td height="25"><font class="redtext">*</font> Title :- </td>
                        <td height="25"><%= text_field 'mad', 'title', "size" => 55  %></td>
                    </tr> 
                    
                </table>
                        
                        <br/>
                         <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Enter your  Desscription. You can personalize this with all the tools </strong> </div></td>
        </tr>
       </table>
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
  
                                     
                    
                         <tr>
                        
                        <td >
                        	<%= fckeditor_textarea("mad", "description",:toolbarSet => 'Simple', :width => '500', :height => '500px')%> 

                        	</td>
                        </tr> 
                    </table><br/>
                   
			  
                            <table width="100%" bordercolor="#ff8080" bgColor=#fdfeeb  border="1" cellspacing="0" cellpadding="0">

        <tr>
          <td bgcolor="#fcf83f"><div class="loginlh"><strong>Upload Up to 6 Pictures including horoscopes - Only upload pictures - No pdf or word files. Load images which are less than 100Kb. Only the following types are supported - jpg, gif, png</strong> </div></td>
        </tr>
       </table>

                        <table width="100%">
                        
                        <tr><td>Picture1 : <%= file_column_field "mad", "image1" %></td><td>        <% if @mad.image1 %>
                                 <%= image_tag url_for_file_column("mad", "image1", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                 <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 1 %>
                                
                                 
                                 <% end %>
                                 </td></tr>


                        <tr><td>Picture2 : <%= file_column_field "mad", "image2" %>         </td><td> <% if @mad.image2 %>
                                 <%= image_tag url_for_file_column("mad", "image2", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 2 %>
                                 <% end %>
                                 </td></tr>
                        <tr><td> Picture3 : <%= file_column_field "mad", "image3" %>        </td><td> <% if @mad.image3 %>
                                 <%= image_tag url_for_file_column("mad", "image3", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 3 %>
                                 <% end %>
                                 </td></tr>
                        
                         <tr><td>Picture4 : <%= file_column_field "mad", "image4" %>       </td><td> <% if @mad.image4 %>
                                 <%= image_tag url_for_file_column("mad", "image4", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                                  <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 4 %>
                                 <% end %>
                                 </td></tr>

<tr><td>Picture5 : <%= file_column_field "mad", "image5" %>         </td><td> <% if @mad.image5 %>
                                 <%= image_tag url_for_file_column("mad", "image5", "thumb"),{ "class" => "gallery_pic_bdr"} %>
                             <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 5 %>
                                 <% end %>
                                 </td></tr>
                                 
                                 
                                 <tr><td>Picture6 : <%= file_column_field "mad", "image6" %>         </td><td> <% if @mad.image6 %>
                               <br/><%=link_to "Clear this Image", :controller => 'marketplace', :action => 'clearphoto', :myadid => @mad.id, :myimageid => 6 %>
                                 <% end %>
                                 </td></tr>
                                 
                                   </table>
                    
                    
                          

                       
                    
                      <table width="100%" border="1" cellspacing="0" cellpadding="0">
                      	
         
                        
                                                                 <tr>
                        
                        <td >  <%= submit_tag 'Submit' %></td>
                        </tr>
                      
                    </table>
 
			   
   

 
 


