<%= render :partial => 'marketbrowsebycat' %>
                                    
                    	<table width="100%" border="0" cellspacing="0" cellpadding="5">

                      <tr>
                        <td colspan="7" align="left"><strong>Results for 
                                                 
<%=@myresulttext if @myresulttext != nil %> 
</strong></td>
                              </tr>
                              
                      
                    </table>
                      <br />

                  
                          	<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CFE4FA">
                            <tr>
                              <td width="44%" align="left" bgcolor="#EAF4FE"><strong>Brief Description</strong></td>
                              <td width="24%" align="left" bgcolor="#EAF4FE"><strong>Category</strong></td>

                              
                              <td width="31%" align="left" bgcolor="#EAF4FE"><strong>Location</strong></td>
                              
                            </tr>
                            
                            
                        <% for @myad in @ads %>
<%= render :partial => 'msinglead' %>
                      
						<% end %>                            
						
      
                            
                          </table>
                        
  

                        <br/>
<h3>
                         <%= link_to 'Previous page', { :page => @ad_pages.current.previous, :typed_search => @mysearch} if @ad_pages.current.previous %>  <%= link_to 'Next page', { :page => @ad_pages.current.next, :typed_search => @mysearch} if @ad_pages.current.next %></h3>
                                                 