<%= error_messages_for 'feedback' %>

<!--[form:feedback]-->

<p><label for="feedback_msgtitle"><b>Your Email ID</b></label><br/>
<%= text_field 'feedback', 'email_id'  %></p>

<p><label for="feedback_msgdescription"><b>Your Feedback</b></label><br/>
<%= text_area 'feedback', 'msgdescription'  %></p>

<!--[eoform:feedback]-->