<html>
<head>
  <title>Memadmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <%= render :partial => 'menu/topmenu' %>
<% if flash[:notice] %>
<div class="errors">
<%= flash[:notice] %>
</div>
<% end %>

<%= @content_for_layout %>

</body>
</html>
